index2.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tudo Celular</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=1090">
    <!--
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700" rel="stylesheet" type="text/css">
    -->
    <style>
      @font-face {
       font-family: 'Roboto';
       font-style: normal;
       font-weight: 100;
       src: local('Roboto Thin'), local('Roboto-Thin'), url(http://themes.googleusercontent.com/static/fonts/roboto/v9/vzIUHo9z-oJ4WgkpPOtg1_esZW2xOQ-xsNqO47m55DA.woff) format('woff');
      }
      @font-face {
       font-family: 'Roboto';
       font-style: normal;
       font-weight: 300;
       src: local('Roboto Light'), local('Roboto-Light'), url(http://themes.googleusercontent.com/static/fonts/roboto/v9/Hgo13k-tfSpn0qi1SFdUfT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
      }
      @font-face {
       font-family: 'Roboto';
       font-style: normal;
       font-weight: 400;
       src: local('Roboto Regular'), local('Roboto-Regular'), url(http://themes.googleusercontent.com/static/fonts/roboto/v9/2UX7WLTfW3W8TclTUvlFyQ.woff) format('woff');
      }
      @font-face {
       font-family: 'Roboto';
       font-style: normal;
       font-weight: 500;
       src: local('Roboto Medium'), local('Roboto-Medium'), url(http://themes.googleusercontent.com/static/fonts/roboto/v9/RxZJdnzeo3R5zSexge8UUT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
      }
      @font-face {
       font-family: 'Roboto';
       font-style: normal;
       font-weight: 700;
       src: local('Roboto Bold'), local('Roboto-Bold'), url(http://themes.googleusercontent.com/static/fonts/roboto/v9/d-6IYplOFocCacKzxwXSOD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
      }
      
      @font-face {
       font-family: 'Roboto Condensed';
       font-style: normal;
       font-weight: 300;
       src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(http://themes.googleusercontent.com/static/fonts/robotocondensed/v8/b9QBgL0iMZfDSpmcXcE8nNeiznanRB67rGZDYkMvKPc.woff) format('woff');
      }
      @font-face {
       font-family: 'Roboto Condensed';
       font-style: normal;
       font-weight: 400;
       src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url(http://themes.googleusercontent.com/static/fonts/robotocondensed/v8/Zd2E9abXLFGSr9G3YK2MsFzqCfRpIA3W6ypxnPISCPA.woff) format('woff');
      }
      @font-face {
       font-family: 'Roboto Condensed';
       font-style: normal;
       font-weight: 700;
       src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url(http://themes.googleusercontent.com/static/fonts/robotocondensed/v8/b9QBgL0iMZfDSpmcXcE8nCSLrGe-fkSRw2DeVgOoWcQ.woff) format('woff');
      }
      
    </style>
    <link rel="stylesheet" href="css/style.css">
    <script src="scripts/scripts.js"> </script>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/tdrunk/html5.js"></script>
    <script></script>
    <window class="html5">|| document.write('<script src="scripts/ie8down/html5shiv.js"><\\/script>')</window>
    <![endif]-->
  </head>
  <body>
    <div id="main_container" class="container">
      <div class="innerpadding">
        <header><a href=""><img src="img/logo_principal.gif" alt="Tudo Celular" width="279" height="79"></a>
          <input id="search" type="text">
        </header>
      </div>
      <div id="nav_menu">
        <nav id="topnav"><a id="home" href="index_videos.html"></a>
          <div id="seccionlogin"><a id="iclogin" href="index_logged.html"></a>
            <div id="loginform" class="submenu">
              <div class="content">
                <p>
                  <input type="text" placeholder="USERNAME">
                </p>
                <p>
                  <input type="text" placeholder="PASSWORD">
                </p>
                <p class="remember">
                  <label>
                    <input type="checkbox" name="">Remember me
                  </label>
                </p>
                <p>
                  <input id="loginbtn" type="button" value="Login" onclick="document.location='index_logged.html'">
                  <input id="register" type="button" value="Register">
                </p>
              </div>
            </div>
          </div>
          <ul>
            <li><a href="#">Forum</a></li>
            <li><a href="tudo_android.html">Tudo <strong class="color_android">Android</strong></a></li>
            <li><a href="tudo_windows.html">Tudo <strong class="color_windows">Windows</strong></a></li>
            <li><a href="tudo_apple.html">Tudo <strong class="color_apple">Apple</strong></a></li>
            <li><a href="#">Guias</a></li>
            <li><a href="celulares_home.html">Celulares</a>
              <div class="submenu">
                <div class="content">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, vero, labore, aut et eius ad in quos eveniet eligendi dolorem unde doloribus soluta accusamus! Repudiandae aliquid mollitia quos perferendis quod.
                   <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, accusamus, amet, natus voluptas quas dolores aspernatur vel quos ipsum possimus consequatur impedit laudantium asperiores eius in ab debitis optio autem.</div>
                </div>
              </div>
            </li>
            <li><a href="compara_2tel.html">Compare</a></li>
            <li><a href="review.html">Review</a></li>
          </ul>
        </nav>
        <nav>
          <ul id="bottomnav">
            <li><a href="topic.html">Topic</a></li>
            <li><a href="celulares_home.html">Celulares</a></li>
            <li><a href="compara_3tel.html">Provas</a></li>
            <li><a href="compara_8tel.html">Compare</a></li>
            <li><a href="">Temas</a></li>
            <li><a href="">Walpapers</a></li>
            <li><a href="">Precos</a></li>
            <li><a href="">Forum</a></li>
            <li><a href="#">Articole e guide</a></li>
            <li><a href="compare_8tel.html">Celulares</a></li>
            <li><a href="">Provas</a></li>
          </ul>
        </nav>
      </div>
      <div class="ads_top"><img src="img/ad_wide.png" alt="" width="728" height="90"><img src="img/ad_face.png" alt="" width="258" height="90"></div>
      <section class="threcolums">
        <section class="listagrande">
          <article class="newlist_normal"><a href="notizia.html" class="thumb_new_image"><img src="img/transparent.png" data-src="img/slicing_15.png" alt="" width="115" height="95"></a><a href="notizia.html">
              <h2>Vendas de smartphones aumentam 42% e Android lidera</h2></a>
            <p><a href="#" class="yellow_comments">80</a>12 marzo 2013 - Segundo a mais recente pesquisa da Gartner, 440,5 milhões de</p>
          </article>
          <article class="newlist_normal"><a href="notizia_senza.html" class="thumb_new_image"><img src="img/transparent.png" data-src="img/slicing_22.png" alt="" width="115" height="95"></a><a href="notizia_senza.html">
              <h2>Nokia usará processadores dual-core da ST-Ericsson nos Windows Phones 8</h2></a>
            <p><a href="#" class="yellow_comments">80</a>11 marzo 2013 - A joint-venture</p>
          </article>
          <article class="newlist_normal"><a href="notizia.html" class="thumb_new_image"><img src="img/transparent.png" data-src="img/slicing_34.png" alt="" width="115" height="95"></a><a href="notizia.html">
              <h2>Nokia Champagne pode ser o primeiro Windows Phone Tango</h2></a>
            <p><a href="#" class="yellow_comments">80</a>11 marzo 2013 - A Sony Ericsson - ou talvez agora apenas "Sony", depois que a companhia japonesa comprou 50% da joint-</p>
          </article>
          <article class="newlist_normal"><a href="notizia_senza.html" class="thumb_new_image"><img src="img/transparent.png" data-src="img/slicing_44.png" alt="" width="115" height="95"></a><a href="notizia_senza.html">
              <h2>Rovo Xperia Arc com display HD?</h2></a>
            <p><a href="#" class="yellow_comments">80</a>11 marzo 2013 - A joint-venture</p>
          </article>
          <article class="newlist_normal"><a href="notizia.html" class="thumb_new_image"><img src="img/transparent.png" data-src="img/slicing_15.png" alt="" width="115" height="95"></a><a href="notizia.html">
              <h2>Vendas de smartphones aumentam 42% e Android lidera</h2></a>
            <p><a href="#" class="yellow_comments">80</a>12 marzo 2013 - Segundo a mais recente pesquisa da Gartner, 440,5 milhões de</p>
          </article>
          <article class="newlist_normal"><a href="notizia_senza.html" class="thumb_new_image"><img src="img/transparent.png" data-src="img/slicing_22.png" alt="" width="115" height="95"></a><a href="notizia_senza.html">
              <h2>Nokia usará processadores dual-core da ST-Ericsson nos Windows Phones 8</h2></a>
            <p><a href="#" class="yellow_comments">80</a>11 marzo 2013 - A joint-venture</p>
          </article>
          <article class="newlist_normal"><a href="notizia.html" class="thumb_new_image"><img src="img/transparent.png" data-src="img/slicing_34.png" alt="" width="115" height="95"></a><a href="notizia.html">
              <h2>Nokia Champagne pode ser o primeiro Windows Phone Tango</h2></a>
            <p><a href="#" class="yellow_comments">80</a>11 marzo 2013 - A Sony Ericsson - ou talvez agora apenas "Sony", depois que a companhia japonesa comprou 50% da joint-</p>
          </article>
          <article class="newlist_normal"><a href="notizia_senza.html" class="thumb_new_image"><img src="img/transparent.png" data-src="img/slicing_44.png" alt="" width="115" height="95"></a><a href="notizia_senza.html">
              <h2>Rovo Xperia Arc com display HD?</h2></a>
            <p><a href="#" class="yellow_comments">80</a>11 marzo 2013 - A joint-venture</p>
          </article>
        </section>
        <section class="listachica">
          <article class="newlist_icos"><a href="#"><img src="img/transparent.png" data-src="img/slicing_18.png" alt="" width="199" height="103"></a><a href="#">
              <h2>Los mejores reproductores musicales para Android</h2></a>
            <p class="ico_sos"><a href="" class="android">android</a><a href="" class="apple">asdfasdf</a><a href="" class="windows">windows</a><a href="#" class="gray_comments">145</a></p>
          </article>
          <article class="newlist_icos"><a href="#"><img src="img/transparent.png" data-src="img/slicing_32.png" alt="" width="199" height="103"></a><a href="#">
              <h2>Los mejores reproductores musicales para Android</h2></a>
            <p class="ico_sos"><a href="" class="android">android</a><a href="" class="windows">windows</a><a href="#" class="gray_comments">100</a></p>
          </article>
          <article class="newlist_icos"><a href="#"><img src="img/transparent.png" data-src="img/slicing_45.png" alt="" width="199" height="103"></a><a href="#">
              <h2>Los mejores reproductores musicales para Android</h2></a>
            <p class="ico_sos"><a href="" class="android">android</a><a href="" class="windows">windows</a><a href="#" class="gray_comments">89</a></p>
          </article>
          <article class="newlist_icos"><a href="#"><img src="img/transparent.png" data-src="img/slicing_52.png" alt="" width="199" height="103"></a><a href="#">
              <h2>Los mejores reproductores musicales para Android</h2></a>
            <p class="ico_sos"><a href="" class="android">android</a><a href="" class="windows">windows</a><a href="#" class="gray_comments">45</a></p>
          </article>
          <article class="newlist_icos"><a href="#"><img src="img/transparent.png" data-src="img/slicing_18.png" alt="" width="199" height="103"></a><a href="#">
              <h2>Los mejores reproductores musicales para Android</h2></a>
            <p class="ico_sos"><a href="" class="android">android</a><a href="" class="windows">windows</a><a href="#" class="gray_comments">5</a></p>
          </article>
        </section>
        <section class="modelos">
          <div class="ads square"><img src="img/ad_square.png" alt="" width="301" height="252"></div>
          <article class="modelo_item">
            <h2><a href="#">Huawei Ascend P2 </a></h2>
            <div class="details">
              <div class="point"><strong>9.5</strong>score</div><a href="#"><img src="img/transparent.png" data-src="img/slicing_36.png" alt=""></a>
              <ul class="features">
                <li class="so_apple">Windows Phone<strong>7</strong></li>
                <li class="cpu">Dual core 1175 Ghz</li>
                <li class="display">Display 4.3”</li>
                <li class="camera">Fotocamera<strong>10 Mpx</strong></li>
                <li class="flechita"></li>
              </ul>
            </div>
          </article>
          <article class="modelo_item">
            <h2><a href="#">Nokia Lumia 720</a></h2>
            <div class="details">
              <div class="point"><strong>7.0</strong>score</div><a href="#"><img src="img/transparent.png" data-src="img/slicing_48.png" alt=""></a>
              <ul class="features">
                <li class="so_apple">Bada<strong>2.0</strong></li>
                <li class="cpu">Dual core 1175 Ghz</li>
                <li class="display">Display<strong>4.3”</strong></li>
                <li class="camera">Fotocamera 10 Mpx</li>
                <li class="flechita"></li>
              </ul>
            </div>
          </article>
          <article class="modelo_item">
            <h2><a href="#">Nokia 301</a></h2>
            <div class="details">
              <div class="point mid"><strong>6.5</strong>score</div><a href="#"><img src="img/transparent.png" data-src="img/slicing_53.png" alt=""></a>
              <ul class="features">
                <li class="camera">Bada<strong>2.0</strong></li>
                <li class="display">Dual core 1175 Ghz</li>
                <li class="cpu">Display<strong>4.3”</strong></li>
                <li class="so_apple">Fotocamera 10 Mpx</li>
                <li class="flechita"></li>
              </ul>
            </div>
          </article>
          <article class="modelo_item">
            <h2><a href="#">Morotola RAZR DR3</a></h2>
            <div class="details">
              <div class="point"><strong>7.0</strong>score</div><a href="#"><img src="img/transparent.png" data-src="img/grayphone.gif" alt=""></a>
              <ul class="features">
                <li>Bada<strong>2.0</strong></li>
                <li>Dual core 1175 Ghz</li>
                <li>Display<strong>4.3”</strong></li>
                <li>Fotocamera 10 Mpx</li>
                <li class="flechita"></li>
              </ul>
            </div>
          </article>
        </section>
      </section>
      <section class="videos_phones_container clearfix"><a href="#" class="video_phone"><img src="img/transparent.png" data-src="img/telef.jpg" alt="" width="244" height="138">
          <p>LG Optimus L7</p></a><a href="#" class="video_phone"><img src="img/transparent.png" data-src="img/telef.jpg" alt="" width="244" height="138">
          <p>Samsung Galaxy Note</p></a><a href="#" class="video_phone"><img src="img/transparent.png" data-src="img/telef.jpg" alt="" width="244" height="138">
          <p>Motorola Atrix TV</p></a><a href="#" class="video_phone"><img src="img/transparent.png" data-src="img/telef.jpg" alt="" width="244" height="138">
          <p>LG Optimus 4X HD</p></a><a href="#" class="video_phone"><img src="img/transparent.png" data-src="img/telef.jpg" alt="" width="244" height="138">
          <p>Nokia 808 PureView</p></a><a href="#" class="video_phone"><img src="img/transparent.png" data-src="img/telef.jpg" alt="" width="244" height="138">
          <p>Motorola Razor i</p></a><a href="#" class="video_phone"><img src="img/transparent.png" data-src="img/telef.jpg" alt="" width="244" height="138">
          <p>LG Optimus L7</p></a><a href="#" class="video_phone"><img src="img/transparent.png" data-src="img/telef.jpg" alt="" width="244" height="138">
          <p>Motorola Lumix</p></a></section>
      <section class="threcolums">
        <section class="listagrande">
          <article class="newlist_normal"><a href="#" class="thumb_new_image"><img src="img/transparent.png" data-src="img/slicing_15.png" alt="" width="115" height="95"></a><a href="#">
              <h2>Vendas de smartphones aumentam 42% e Android lidera</h2></a>
            <p><a href="#" class="yellow_comments">80</a>12 marzo 2013 - Segundo a mais recente pesquisa da Gartner, 440,5 milhões de</p>
          </article>
          <article class="newlist_normal"><a href="#" class="thumb_new_image"><img src="img/transparent.png" data-src="img/slicing_22.png" alt="" width="115" height="95"></a><a href="#">
              <h2>Nokia usará processadores dual-core da ST-Ericsson nos Windows Phones 8</h2></a>
            <p><a href="#" class="yellow_comments">80</a>11 marzo 2013 - A joint-venture</p>
          </article>
          <article class="newlist_normal"><a href="#" class="thumb_new_image"><img src="img/transparent.png" data-src="img/slicing_34.png" alt="" width="115" height="95"></a><a href="#">
              <h2>Nokia Champagne pode ser o primeiro Windows Phone Tango</h2></a>
            <p><a href="#" class="yellow_comments">80</a>11 marzo 2013 - A Sony Ericsson - ou talvez agora apenas "Sony", depois que a companhia japonesa comprou 50% da joint-</p>
          </article>
          <article class="newlist_normal"><a href="#" class="thumb_new_image"><img src="img/transparent.png" data-src="img/slicing_44.png" alt="" width="115" height="95"></a><a href="#">
              <h2>Rovo Xperia Arc com display HD?</h2></a>
            <p><a href="#" class="yellow_comments">80</a>11 marzo 2013 - A joint-venture</p>
          </article>
          <article class="newlist_normal"><a href="#" class="thumb_new_image"><img src="img/transparent.png" data-src="img/slicing_15.png" alt="" width="115" height="95"></a><a href="#">
              <h2>Vendas de smartphones aumentam 42% e Android lidera</h2></a>
            <p><a href="#" class="yellow_comments">80</a>12 marzo 2013 - Segundo a mais recente pesquisa da Gartner, 440,5 milhões de</p>
          </article>
          <article class="newlist_normal"><a href="#" class="thumb_new_image"><img src="img/transparent.png" data-src="img/slicing_22.png" alt="" width="115" height="95"></a><a href="#">
              <h2>Nokia usará processadores dual-core da ST-Ericsson nos Windows Phones 8</h2></a>
            <p><a href="#" class="yellow_comments">80</a>11 marzo 2013 - A joint-venture</p>
          </article>
          <article class="newlist_normal"><a href="#" class="thumb_new_image"><img src="img/transparent.png" data-src="img/slicing_34.png" alt="" width="115" height="95"></a><a href="#">
              <h2>Nokia Champagne pode ser o primeiro Windows Phone Tango</h2></a>
            <p><a href="#" class="yellow_comments">80</a>11 marzo 2013 - A Sony Ericsson - ou talvez agora apenas "Sony", depois que a companhia japonesa comprou 50% da joint-</p>
          </article>
          <article class="newlist_normal"><a href="#" class="thumb_new_image"><img src="img/transparent.png" data-src="img/slicing_44.png" alt="" width="115" height="95"></a><a href="#">
              <h2>Rovo Xperia Arc com display HD?</h2></a>
            <p><a href="#" class="yellow_comments">80</a>11 marzo 2013 - A joint-venture</p>
          </article>
        </section>
        <section class="listachica">
          <article class="newlist_icos"><a href="#"><img src="img/transparent.png" data-src="img/slicing_18.png" alt="" width="199" height="103">
              <h2>Los mejores reproductores musicales para Android</h2></a>
            <p class="ico_sos"><a href="" class="android">android</a><a href="" class="apple">asdfasdf</a><a href="" class="windows">windows</a><a href="#" class="gray_comments">145</a></p>
          </article>
          <article class="newlist_icos"><a href="#"><img src="img/transparent.png" data-src="img/slicing_32.png" alt="" width="199" height="103">
              <h2>Los mejores reproductores musicales para Android</h2></a>
            <p class="ico_sos"><a href="" class="android">android</a><a href="" class="windows">windows</a><a href="#" class="gray_comments">100</a></p>
          </article>
          <article class="newlist_icos"><a href="#"><img src="img/transparent.png" data-src="img/slicing_45.png" alt="" width="199" height="103">
              <h2>Los mejores reproductores musicales para Android</h2></a>
            <p class="ico_sos"><a href="" class="android">android</a><a href="" class="windows">windows</a><a href="#" class="gray_comments">89</a></p>
          </article>
          <article class="newlist_icos"><a href="#"><img src="img/transparent.png" data-src="img/slicing_52.png" alt="" width="199" height="103">
              <h2>Los mejores reproductores musicales para Android</h2></a>
            <p class="ico_sos"><a href="" class="android">android</a><a href="" class="windows">windows</a><a href="#" class="gray_comments">45</a></p>
          </article>
          <article class="newlist_icos"><a href="#"><img src="img/transparent.png" data-src="img/slicing_18.png" alt="" width="199" height="103">
              <h2>Los mejores reproductores musicales para Android</h2></a>
            <p class="ico_sos"><a href="" class="android">android</a><a href="" class="windows">windows</a><a href="#" class="gray_comments">5</a></p>
          </article>
        </section>
        <section class="modelos">
          <div class="ads square"><img src="img/ad_square.png" alt="" width="301" height="252"></div>
          <article class="modelo_item">
            <h2><a href="#">Huawei Ascend P2</a></h2>
            <div class="details">
              <div class="point"><strong>9.5</strong>score</div><a href="#"><img src="img/transparent.png" data-src="img/slicing_36.png" alt=""></a>
              <ul class="features">
                <li class="so_apple">Windows Phone<strong>7</strong></li>
                <li class="cpu">Dual core 1175 Ghz</li>
                <li class="display">Display 4.3”</li>
                <li class="camera">Fotocamera<strong>10 Mpx</strong></li>
                <li class="flechita"></li>
              </ul>
            </div>
          </article>
          <article class="modelo_item">
            <h2><a href="#">Nokia Lumia 720</a></h2>
            <div class="details">
              <div class="point"><strong>7.0</strong>score</div><a href="#"><img src="img/transparent.png" data-src="img/slicing_48.png" alt=""></a>
              <ul class="features">
                <li class="so_apple">Bada<strong>2.0</strong></li>
                <li class="cpu">Dual core 1175 Ghz</li>
                <li class="display">Display<strong>4.3”</strong></li>
                <li class="camera">Fotocamera 10 Mpx</li>
                <li class="flechita"></li>
              </ul>
            </div>
          </article>
          <article class="modelo_item">
            <h2><a href="#">Nokia 301</a></h2>
            <div class="details">
              <div class="point mid"><strong>6.5</strong>score</div><a href="#"><img src="img/transparent.png" data-src="img/slicing_53.png" alt=""></a>
              <ul class="features">
                <li class="camera">Bada<strong>2.0</strong></li>
                <li class="display">Dual core 1175 Ghz</li>
                <li class="cpu">Display<strong>4.3”</strong></li>
                <li class="so_apple">Fotocamera 10 Mpx</li>
                <li class="flechita"></li>
              </ul>
            </div>
          </article>
          <article class="modelo_item">
            <h2><a href="#">Morotola RAZR DR3</a></h2>
            <div class="details">
              <div class="point"><strong>7.0</strong>score</div><a href="#"><img src="img/transparent.png" data-src="img/grayphone.gif" alt=""></a>
              <ul class="features">
                <li>Bada<strong>2.0</strong></li>
                <li>Dual core 1175 Ghz</li>
                <li>Display<strong>4.3”</strong></li>
                <li>Fotocamera 10 Mpx</li>
                <li class="flechita"></li>
              </ul>
            </div>
          </article>
        </section>
      </section>
      <section id="compara" class="clearfix">
        <div class="pholder">
          <div>
            <input type="text">
          </div>
        </div><i class="sprites plus"></i>
        <div class="pholder"></div><i class="sprites plus"></i>
        <div class="pholder">
          <div>
            <input type="text">
          </div>
        </div>
        <div id="comparabtn"><a href="#">Compara </a></div>
      </section>
      <section id="versus" class="clearfix"><a href="" class="versus_phones">
          <div class="sideleft">
            <p>LG Optimus G Pro</p><img src="img/home_apps_1000_03_03.jpg" alt="">
          </div>
          <div class="sideright"><img src="img/home_apps_1000_03_07.jpg" alt="">
            <p>HTC One</p>
          </div></a><a href="" class="versus_phones">
          <div class="sideleft">
            <p>Huawei Ascend P2</p><img src="img/home_apps_1000_03_03.jpg" alt="">
          </div>
          <div class="sideright"><img src="img/home_apps_1000_03_07.jpg" alt="">
            <p>Nokia Lumia 720</p>
          </div></a><a href="" class="versus_phones">
          <div class="sideleft">
            <p>Huawei G615</p><img src="img/home_apps_1000_03_03.jpg" alt="">
          </div>
          <div class="sideright"><img src="img/home_apps_1000_03_07.jpg" alt="">
            <p>ZTE Grand S</p>
          </div></a><a href="" class="versus_phones">
          <div class="sideleft">
            <p>Samsung Galaxy Frame</p><img src="img/home_apps_1000_03_03.jpg" alt="">
          </div>
          <div class="sideright"><img src="img/home_apps_1000_03_07.jpg" alt="">
            <p>Acer Liquid E1</p>
          </div></a><a href="" class="versus_phones">
          <div class="sideleft">
            <p>Samsung Galaxy S2 Plus</p><img src="img/home_apps_1000_03_03.jpg" alt="">
          </div>
          <div class="sideright"><img src="img/home_apps_1000_03_07.jpg" alt="">
            <p>RIM BlackBerry Z10</p>
          </div></a><a href="" class="versus_phones">
          <div class="sideleft">
            <p>Sony Xperia Z</p><img src="img/home_apps_1000_03_03.jpg" alt="">
          </div>
          <div class="sideright"><img src="img/home_apps_1000_03_07.jpg" alt="">
            <p>Huawei Ascend Mate</p>
          </div></a></section>
      <div class="bar_gray"></div>
    </div>
    <footer>
      <div class="container"><a id="logo" href="#"><img src="img/slicing_66.gif" alt="tudocelular"></a>
        <p>© 2013 - Pixel Research Ltd - Todos os direitos reservados</p>
        <div class="footer_nav"><a href="#">Fale conosco »</a><a href="#">Redação »</a><a href="#">Newsletter »</a><a href="#">Notícias no seu site »</a><a href="#">Anuncie »</a></div>
        <div class="social"><a href="#"><i class="sprites fb"></i></a><a href="#"><i class="sprites tw"></i></a><a href="#"><i class="sprites yt"></i></a><a href="#"><i class="sprites g"></i></a><a href="#"><i class="sprites rss"></i></a></div>
      </div>
    </footer>
    <script src="scripts/jquery.min.js"></script>
    <script src="scripts/scripts.js"></script>
  </body>
</html>

index2.jade
!!! 5
html(lang='en')
  include head
  body
    #main_container.container
      .innerpadding
        header
          a(href='')
            img(src='img/logo_principal.gif', alt='Tudo Celular', width='279', height='79')
          input#search(type='text')
      include top_nav
      .ads_top
        img(src='img/ad_wide.png', alt='', width='728', height='90')
        img(src='img/ad_face.png', alt='', width='258', height='90')
      section.threcolums
        section.listagrande
          article.newlist_normal
            a.thumb_new_image(href='notizia.html')
              img(src='img/transparent.png', data-src='img/slicing_15.png', alt='', width='115', height='95')
            a(href='notizia.html')
              h2 Vendas de smartphones aumentam 42% e Android lidera
            p
              a.yellow_comments(href='#') 80
              | 12 marzo 2013 - Segundo a mais recente pesquisa da Gartner, 440,5 milhões de
          article.newlist_normal
            a.thumb_new_image(href='notizia_senza.html')
              img(src='img/transparent.png', data-src='img/slicing_22.png', alt='', width='115', height='95')
            a(href='notizia_senza.html')
              h2 Nokia usará processadores dual-core da ST-Ericsson nos Windows Phones 8
            p
              a.yellow_comments(href='#') 80
              | 11 marzo 2013 - A joint-venture
          article.newlist_normal
            a.thumb_new_image(href='notizia.html')
              img(src='img/transparent.png', data-src='img/slicing_34.png', alt='', width='115', height='95')
            a(href='notizia.html')
              h2 Nokia Champagne pode ser o primeiro Windows Phone Tango
            p
              a.yellow_comments(href='#') 80
              | 11 marzo 2013 - A Sony Ericsson - ou talvez agora apenas "Sony", depois que a companhia japonesa comprou 50% da joint-
          article.newlist_normal
            a.thumb_new_image(href='notizia_senza.html')
              img(src='img/transparent.png', data-src='img/slicing_44.png', alt='', width='115', height='95')
            a(href='notizia_senza.html')
              h2 Rovo Xperia Arc com display HD?
            p
              a.yellow_comments(href='#') 80
              | 11 marzo 2013 - A joint-venture
          article.newlist_normal
            a.thumb_new_image(href='notizia.html')
              img(src='img/transparent.png', data-src='img/slicing_15.png', alt='', width='115', height='95')
            a(href='notizia.html')
              h2 Vendas de smartphones aumentam 42% e Android lidera
            p
              a.yellow_comments(href='#') 80
              | 12 marzo 2013 - Segundo a mais recente pesquisa da Gartner, 440,5 milhões de
          article.newlist_normal
            a.thumb_new_image(href='notizia_senza.html')
              img(src='img/transparent.png', data-src='img/slicing_22.png', alt='', width='115', height='95')
            a(href='notizia_senza.html')
              h2 Nokia usará processadores dual-core da ST-Ericsson nos Windows Phones 8
            p
              a.yellow_comments(href='#') 80
              | 11 marzo 2013 - A joint-venture
          article.newlist_normal
            a.thumb_new_image(href='notizia.html')
              img(src='img/transparent.png', data-src='img/slicing_34.png', alt='', width='115', height='95')
            a(href='notizia.html')
              h2 Nokia Champagne pode ser o primeiro Windows Phone Tango
            p
              a.yellow_comments(href='#') 80
              | 11 marzo 2013 - A Sony Ericsson - ou talvez agora apenas "Sony", depois que a companhia japonesa comprou 50% da joint-
          article.newlist_normal
            a.thumb_new_image(href='notizia_senza.html')
              img(src='img/transparent.png', data-src='img/slicing_44.png', alt='', width='115', height='95')
            a(href='notizia_senza.html')
              h2 Rovo Xperia Arc com display HD?
            p
              a.yellow_comments(href='#') 80
              | 11 marzo 2013 - A joint-venture
        section.listachica
          article.newlist_icos
            a(href='#')
              img(src='img/transparent.png', data-src='img/slicing_18.png', alt='', width='199', height='103')
            a(href='#')
              h2 Los mejores reproductores musicales para Android
            p.ico_sos
              a.android(href='') android
              a.apple(href='') asdfasdf
              a.windows(href='') windows
              a.gray_comments(href='#') 145
          article.newlist_icos
            a(href='#')
              img(src='img/transparent.png', data-src='img/slicing_32.png', alt='', width='199', height='103')
            a(href='#')
              h2 Los mejores reproductores musicales para Android
            p.ico_sos
              a.android(href='') android
              a.windows(href='') windows
              a.gray_comments(href='#') 100
          article.newlist_icos
            a(href='#')
              img(src='img/transparent.png', data-src='img/slicing_45.png', alt='', width='199', height='103')
            a(href='#')
              h2 Los mejores reproductores musicales para Android
            p.ico_sos
              a.android(href='') android
              a.windows(href='') windows
              a.gray_comments(href='#') 89
          article.newlist_icos
            a(href='#')
              img(src='img/transparent.png', data-src='img/slicing_52.png', alt='', width='199', height='103')
            a(href='#')
              h2 Los mejores reproductores musicales para Android
            p.ico_sos
              a.android(href='') android
              a.windows(href='') windows
              a.gray_comments(href='#') 45
          article.newlist_icos
            a(href='#')
              img(src='img/transparent.png', data-src='img/slicing_18.png', alt='', width='199', height='103')
            a(href='#')
              h2 Los mejores reproductores musicales para Android
            p.ico_sos
              a.android(href='') android
              a.windows(href='') windows
              a.gray_comments(href='#') 5
        section.modelos
          .ads.square
            img(src='img/ad_square.png', alt='', width='301', height='252')
          article.modelo_item
            h2
              a(href='#') Huawei Ascend P2 
            .details
              .point
                strong 9.5
                | score
              a(href='#')
                img(src='img/transparent.png', data-src='img/slicing_36.png', alt='')
              ul.features
                li.so_apple
                  | Windows Phone
                  strong 7
                li.cpu Dual core 1175 Ghz
                li.display Display 4.3”
                li.camera
                  | Fotocamera
                  strong 10 Mpx
                li.flechita
          article.modelo_item
            h2
              a(href='#') Nokia Lumia 720
            .details
              .point
                strong 7.0
                | score
              a(href='#')
                img(src='img/transparent.png', data-src='img/slicing_48.png', alt='')
              ul.features
                li.so_apple
                  | Bada
                  strong 2.0
                li.cpu Dual core 1175 Ghz
                li.display
                  | Display
                  strong 4.3”
                li.camera Fotocamera 10 Mpx
                li.flechita
          article.modelo_item
            h2
              a(href='#') Nokia 301
            .details
              .point.mid
                strong 6.5
                | score
              a(href='#')
                img(src='img/transparent.png', data-src='img/slicing_53.png', alt='')
              ul.features
                li.camera
                  | Bada
                  strong 2.0
                li.display Dual core 1175 Ghz
                li.cpu
                  | Display
                  strong 4.3”
                li.so_apple Fotocamera 10 Mpx
                li.flechita
          article.modelo_item
            h2
              a(href='#') Morotola RAZR DR3
            .details
              .point
                strong 7.0
                | score
              a(href='#')
                img(src='img/transparent.png', data-src='img/grayphone.gif', alt='')
              ul.features
                li
                  | Bada
                  strong 2.0
                li Dual core 1175 Ghz
                li
                  | Display
                  strong 4.3”
                li Fotocamera 10 Mpx
                li.flechita
      section.videos_phones_container.clearfix
        a.video_phone(href='#')
          img(src='img/transparent.png', data-src='img/telef.jpg', alt='', width='244', height='138')
          p LG Optimus L7
        a.video_phone(href='#')
          img(src='img/transparent.png', data-src='img/telef.jpg', alt='', width='244', height='138')
          p Samsung Galaxy Note
        a.video_phone(href='#')
          img(src='img/transparent.png', data-src='img/telef.jpg', alt='', width='244', height='138')
          p Motorola Atrix TV
        a.video_phone(href='#')
          img(src='img/transparent.png', data-src='img/telef.jpg', alt='', width='244', height='138')
          p LG Optimus 4X HD
        a.video_phone(href='#')
          img(src='img/transparent.png', data-src='img/telef.jpg', alt='', width='244', height='138')
          p Nokia 808 PureView
        a.video_phone(href='#')
          img(src='img/transparent.png', data-src='img/telef.jpg', alt='', width='244', height='138')
          p Motorola Razor i
        a.video_phone(href='#')
          img(src='img/transparent.png', data-src='img/telef.jpg', alt='', width='244', height='138')
          p LG Optimus L7
        a.video_phone(href='#')
          img(src='img/transparent.png', data-src='img/telef.jpg', alt='', width='244', height='138')
          p Motorola Lumix
      section.threcolums
        section.listagrande
          article.newlist_normal
            a.thumb_new_image(href='#')
              img(src='img/transparent.png', data-src='img/slicing_15.png', alt='', width='115', height='95')
            a(href='#')
              h2 Vendas de smartphones aumentam 42% e Android lidera
            p
              a.yellow_comments(href='#') 80
              | 12 marzo 2013 - Segundo a mais recente pesquisa da Gartner, 440,5 milhões de
          article.newlist_normal
            a.thumb_new_image(href='#')
              img(src='img/transparent.png', data-src='img/slicing_22.png', alt='', width='115', height='95')
            a(href='#')
              h2 Nokia usará processadores dual-core da ST-Ericsson nos Windows Phones 8
            p
              a.yellow_comments(href='#') 80
              | 11 marzo 2013 - A joint-venture
          article.newlist_normal
            a.thumb_new_image(href='#')
              img(src='img/transparent.png', data-src='img/slicing_34.png', alt='', width='115', height='95')
            a(href='#')
              h2 Nokia Champagne pode ser o primeiro Windows Phone Tango
            p
              a.yellow_comments(href='#') 80
              | 11 marzo 2013 - A Sony Ericsson - ou talvez agora apenas "Sony", depois que a companhia japonesa comprou 50% da joint-
          article.newlist_normal
            a.thumb_new_image(href='#')
              img(src='img/transparent.png', data-src='img/slicing_44.png', alt='', width='115', height='95')
            a(href='#')
              h2 Rovo Xperia Arc com display HD?
            p
              a.yellow_comments(href='#') 80
              | 11 marzo 2013 - A joint-venture
          article.newlist_normal
            a.thumb_new_image(href='#')
              img(src='img/transparent.png', data-src='img/slicing_15.png', alt='', width='115', height='95')
            a(href='#')
              h2 Vendas de smartphones aumentam 42% e Android lidera
            p
              a.yellow_comments(href='#') 80
              | 12 marzo 2013 - Segundo a mais recente pesquisa da Gartner, 440,5 milhões de
          article.newlist_normal
            a.thumb_new_image(href='#')
              img(src='img/transparent.png', data-src='img/slicing_22.png', alt='', width='115', height='95')
            a(href='#')
              h2 Nokia usará processadores dual-core da ST-Ericsson nos Windows Phones 8
            p
              a.yellow_comments(href='#') 80
              | 11 marzo 2013 - A joint-venture
          article.newlist_normal
            a.thumb_new_image(href='#')
              img(src='img/transparent.png', data-src='img/slicing_34.png', alt='', width='115', height='95')
            a(href='#')
              h2 Nokia Champagne pode ser o primeiro Windows Phone Tango
            p
              a.yellow_comments(href='#') 80
              | 11 marzo 2013 - A Sony Ericsson - ou talvez agora apenas "Sony", depois que a companhia japonesa comprou 50% da joint-
          article.newlist_normal
            a.thumb_new_image(href='#')
              img(src='img/transparent.png', data-src='img/slicing_44.png', alt='', width='115', height='95')
            a(href='#')
              h2 Rovo Xperia Arc com display HD?
            p
              a.yellow_comments(href='#') 80
              | 11 marzo 2013 - A joint-venture
        section.listachica
          article.newlist_icos
            a(href='#')
              img(src='img/transparent.png', data-src='img/slicing_18.png', alt='', width='199', height='103')
              h2 Los mejores reproductores musicales para Android
            p.ico_sos
              a.android(href='') android
              a.apple(href='') asdfasdf
              a.windows(href='') windows
              a.gray_comments(href='#') 145
          article.newlist_icos
            a(href='#')
              img(src='img/transparent.png', data-src='img/slicing_32.png', alt='', width='199', height='103')
              h2 Los mejores reproductores musicales para Android
            p.ico_sos
              a.android(href='') android
              a.windows(href='') windows
              a.gray_comments(href='#') 100
          article.newlist_icos
            a(href='#')
              img(src='img/transparent.png', data-src='img/slicing_45.png', alt='', width='199', height='103')
              h2 Los mejores reproductores musicales para Android
            p.ico_sos
              a.android(href='') android
              a.windows(href='') windows
              a.gray_comments(href='#') 89
          article.newlist_icos
            a(href='#')
              img(src='img/transparent.png', data-src='img/slicing_52.png', alt='', width='199', height='103')
              h2 Los mejores reproductores musicales para Android
            p.ico_sos
              a.android(href='') android
              a.windows(href='') windows
              a.gray_comments(href='#') 45
          article.newlist_icos
            a(href='#')
              img(src='img/transparent.png', data-src='img/slicing_18.png', alt='', width='199', height='103')
              h2 Los mejores reproductores musicales para Android
            p.ico_sos
              a.android(href='') android
              a.windows(href='') windows
              a.gray_comments(href='#') 5
        section.modelos
          .ads.square
            img(src='img/ad_square.png', alt='', width='301', height='252')
          article.modelo_item
            h2
              a(href='#') Huawei Ascend P2
            .details
              .point
                strong 9.5
                | score
              a(href='#')
                img(src='img/transparent.png', data-src='img/slicing_36.png', alt='')
              ul.features
                li.so_apple
                  | Windows Phone
                  strong 7
                li.cpu Dual core 1175 Ghz
                li.display Display 4.3”
                li.camera
                  | Fotocamera
                  strong 10 Mpx
                li.flechita
          article.modelo_item
            h2
              a(href='#') Nokia Lumia 720
            .details
              .point
                strong 7.0
                | score
              a(href='#')
                img(src='img/transparent.png', data-src='img/slicing_48.png', alt='')
              ul.features
                li.so_apple
                  | Bada
                  strong 2.0
                li.cpu Dual core 1175 Ghz
                li.display
                  | Display
                  strong 4.3”
                li.camera Fotocamera 10 Mpx
                li.flechita
          article.modelo_item
            h2
              a(href='#') Nokia 301
            .details
              .point.mid
                strong 6.5
                | score
              a(href='#')
                img(src='img/transparent.png', data-src='img/slicing_53.png', alt='')
              ul.features
                li.camera
                  | Bada
                  strong 2.0
                li.display Dual core 1175 Ghz
                li.cpu
                  | Display
                  strong 4.3”
                li.so_apple Fotocamera 10 Mpx
                li.flechita
          article.modelo_item
            h2
              a(href='#') Morotola RAZR DR3
            .details
              .point
                strong 7.0
                | score
              a(href='#')
                img(src='img/transparent.png', data-src='img/grayphone.gif', alt='')
              ul.features
                li
                  | Bada
                  strong 2.0
                li Dual core 1175 Ghz
                li
                  | Display
                  strong 4.3”
                li Fotocamera 10 Mpx
                li.flechita
      section#compara.clearfix
        .pholder
          div
            input(type='text')
        i.sprites.plus
        .pholder
        i.sprites.plus
        .pholder
          div
            input(type='text')
        #comparabtn
          a(href='#') Compara 
      include versus
    include footer
    script(src='scripts/jquery.min.js')
    script(src='scripts/scripts.js')
