precos.jade
- var enlaces_lista=[{link:'scheda_tecnica.html',texto:'Dados Tecnicos'},{link:'review.html',texto:'Review'},{link:'foto.html',texto:'Foto'},{link:'video.html',texto:'Video'},{link:'comentarios.html',texto:'Comentarios'},{link:'precos.html',texto:'Preco'},{link:'#',texto:'Compare'},{link:'#',texto:'Blog'},{link:'#',texto:'Papeis de Parede'}] 
!!!
html(lang="en")
	include head
	body
		.container#main_container
			.innerpadding
				header
					a(href='#')
						img(src='img/logo_principal.gif', alt='Tudo Celular')
					input#search(type='text')
			//- Incluida top_nav.jade 
			include top_nav
		
			.ads_top
				img(src='img/ad_wide.png', alt='', width='728', height='90')
				img(src='img/ad_face.png', alt='', width='258', height='90')
					
			section.innerpadding.clearfix
				aside.narrow_column
					img(src='img/white_phone.jpg', alt='', width='160', height='304')
					ul.lista_cursor
						for enlace in enlaces_lista
							if enlace.texto=='Preco'
								li: a.activo(href=enlace.link)=enlace.texto
							else
								li: a(href=enlace.link)=enlace.texto
					a(href="#")
						.barcode
							em Melhor Preco
							strong 2,500 R$
				.wide_column
					#etiqueta
						img(src="img/transparent.png" width="100%" height="100%" usemap="#m_etiqueta")
						.item_big_fichas
							span.prezzolow(id="prezzolow") 1,665
							small 10x290 R$
						map(name="m_etiqueta" id="m_etiqueta")
							area(shape="poly" coords="13,91,130,23,171,94,55,161,13,91" href="#" alt="")
					h2 <strong>Samsung</strong> Galaxy S3
					small Especificaciones Caracteristicas e Ficha Tecnica
					.iconos.clearfix
						.item
							i.ico_rede
							span Rede
							strong HSPA+
						.item
							i.ico_quad
							span Quad Core
							strong 1.4Ghz
						.item
							i.ico_mem
							span Memoria
							strong 16 GB+
						.item
							i.ico_mem
							span Gps
							strong Sim
						.item
							i.ico_android
							span Android
							strong 4.2.2
						.item
							i.ico_display
							span Display
							strong 4.8
						.item
							i.ico_foto
							span Foto
							strong HSPA+
						.item
							i.ico_video
							span Video
							strong Full HD
					p.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					.tabs
						ul
							li: a#th1.activo(href="#" onclick="return switchtab(1)") Precos de Novos (61)								
							li: a#th2(href="#" onclick="return switchtab(2)") Precos de Usados (2)
							li: a#th3(href="#" onclick="return switchtab(3)") Mer cado Libre (5)

					
						#table1.tabs_content
							.tab_header
									|Samsung Galaxy S3: <strong>16 Ofertas</strong> em <strong>8 Lojas</strong>
									.negocio Loja
									.price
										a(href="#") Precos  <img src="img/freccia_dw.gif" />
							.item_compra
								a.thum_compra(href="#"): img(src="img/icones_r1_c1.jpg" width="90" height="90")
								a.desc(href="#")
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
								.shop_places
									a.shop_logo(href="#")
										img(src="img/webfones.jpg" width=80 height=24)
										| webfones
									.price
										a(href="#"): strong 799 <small>R$</small>
										a.green_button(href="#") VEDI OFERTA
							.item_compra
								a.thum_compra(href="#"): img(src="img/icones_r3_c1.jpg" width="90" height="90")
								a.desc(href="#")
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
								.shop_places
									a.shop_logo(href="#")
										img(src="img/shopfato.jpg" width=80 height=24)
										| shopfato
									.price
										a(href="#"): strong 799 <small>R$</small>
										a.green_button(href="#") VEDI OFERTA
							.item_compra
								a.thum_compra(href="#"): img(src="img/icones_r1_c1.jpg" width="90" height="90")
								a.desc(href="#")
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
								.shop_places
									a.shop_logo(href="#")
										img(src="img/girafa.jpg" width=80 height=24)
										| webfones
									.price
										a(href="#"): strong 799 <small>R$</small>
										a.green_button(href="#") VEDI OFERTA
							.item_compra
								a.thum_compra(href="#"): img(src="img/icones_r1_c1.jpg" width="90" height="90")
								a.desc(href="#")
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
								.shop_places
									a.shop_logo(href="#")
										img(src="img/webfones.jpg" width=80 height=24)
										| webfones
									.price
										a(href="#"): strong 799 <small>R$</small>
										a.green_button(href="#") VEDI OFERTA
							.item_compra
								a.thum_compra(href="#"): img(src="img/icones_r3_c1.jpg" width="90" height="90")
								a.desc(href="#")
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
								.shop_places
									a.shop_logo(href="#")
										img(src="img/shopfato.jpg" width=80 height=24)
										| shopfato
									.price
										a(href="#"): strong 799 <small>R$</small>
										a.green_button(href="#") VEDI OFERTA
							.item_compra
								a.thum_compra(href="#"): img(src="img/icones_r1_c1.jpg" width="90" height="90")
								a.desc(href="#")
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
								.shop_places
									a.shop_logo(href="#")
										img(src="img/girafa.jpg" width=80 height=24)
										| webfones
									.price
										a(href="#"): strong 799 <small>R$</small>
										a.green_button(href="#") VEDI OFERTA
							.item_compra
								a.thum_compra(href="#"): img(src="img/icones_r1_c1.jpg" width="90" height="90")
								a.desc(href="#")
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
								.shop_places
									a.shop_logo(href="#")
										img(src="img/webfones.jpg" width=80 height=24)
										| webfones
									.price
										a(href="#"): strong 799 <small>R$</small>
										a.green_button(href="#") VEDI OFERTA
							.item_compra
								a.thum_compra(href="#"): img(src="img/icones_r3_c1.jpg" width="90" height="90")
								a.desc(href="#")
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
								.shop_places
									a.shop_logo(href="#")
										img(src="img/shopfato.jpg" width=80 height=24)
										| shopfato
									.price
										a(href="#"): strong 799 <small>R$</small>
										a.green_button(href="#") VEDI OFERTA
							.item_compra
								a.thum_compra(href="#"): img(src="img/icones_r1_c1.jpg" width="90" height="90")
								a.desc(href="#")
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
								.shop_places
									a.shop_logo(href="#")
										img(src="img/girafa.jpg" width=80 height=24)
										| webfones
									.price
										a(href="#"): strong 799 <small>R$</small>
										a.green_button(href="#") VEDI OFERTA
							.item_compra
								a.thum_compra(href="#"): img(src="img/icones_r1_c1.jpg" width="90" height="90")
								a.desc(href="#")
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
								.shop_places
									a.shop_logo(href="#")
										img(src="img/webfones.jpg" width=80 height=24)
										| webfones
									.price
										a(href="#"): strong 799 <small>R$</small>
										a.green_button(href="#") VEDI OFERTA
							.item_compra
								a.thum_compra(href="#"): img(src="img/icones_r3_c1.jpg" width="90" height="90")
								a.desc(href="#")
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
								.shop_places
									a.shop_logo(href="#")
										img(src="img/shopfato.jpg" width=80 height=24)
										| shopfato
									.price
										a(href="#"): strong 799 <small>R$</small>
										a.green_button(href="#") VEDI OFERTA
							.item_compra
								a.thum_compra(href="#"): img(src="img/icones_r1_c1.jpg" width="90" height="90")
								a.desc(href="#")
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
								.shop_places
									a.shop_logo(href="#")
										img(src="img/girafa.jpg" width=80 height=24)
										| webfones
									.price
										a(href="#"): strong 799 <small>R$</small>
										a.green_button(href="#") VEDI OFERTA
						#table2.tabs_content
							.tab_header
								| Samsung Galaxy S3: <strong>2 Ofertas</strong> de <strong>Usados</strong>
								.negocio Loja
								.price
									a(href="#") Precos  <img src="img/freccia_dw.gif" />
							.item_compra
								a.thum_compra(href="#"): img(src="img/icones_r1_c1.jpg" width="90" height="90")
								a.desc(href="#")
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
								.shop_places
									a.shop_logo(href="#")
										img(src="img/webfones.jpg" width=80 height=24)
										| webfones
									.price
										a(href="#"): strong 799 <small>R$</small>
										a.green_button(href="#") VEDI OFERTA
							.item_compra
								a.thum_compra(href="#"): img(src="img/icones_r3_c1.jpg" width="90" height="90")
								a.desc(href="#")
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
								.shop_places
									a.shop_logo(href="#")
										img(src="img/shopfato.jpg" width=80 height=24)
										| shopfato
									.price
										a(href="#"): strong 799 <small>R$</small>
										a.green_button(href="#") VEDI OFERTA
						#table3.tabs_content
							.tab_header
								| Samsung Galaxy S3: <strong>5 Ofertas</strong> em <strong>8 Lojas</strong>
								.negocio Loja
								.price
									a(href="#") Precos  <img src="img/freccia_dw.gif" />
							.item_compra
								a.thum_compra(href="#"): img(src="img/icones_r3_c1.jpg" width="90" height="90")
								a.desc(href="#")
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
								.shop_places
									a.shop_logo(href="#")
										img(src="img/shopfato.jpg" width=80 height=24)
										| shopfato
									.price
										a(href="#"): strong 799 <small>R$</small>
										a.green_button(href="#") VEDI OFERTA
							.item_compra
								a.thum_compra(href="#"): img(src="img/icones_r1_c1.jpg" width="90" height="90")
								a.desc(href="#")
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
								.shop_places
									a.shop_logo(href="#")
										img(src="img/girafa.jpg" width=80 height=24)
										| webfones
									.price
										a(href="#"): strong 799 <small>R$</small>
										a.green_button(href="#") VEDI OFERTA
							.item_compra
								a.thum_compra(href="#"): img(src="img/icones_r1_c1.jpg" width="90" height="90")
								a.desc(href="#")
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
								.shop_places
									a.shop_logo(href="#")
										img(src="img/webfones.jpg" width=80 height=24)
										| webfones
									.price
										a(href="#"): strong 799 <small>R$</small>
										a.green_button(href="#") VEDI OFERTA
							.item_compra
								a.thum_compra(href="#"): img(src="img/icones_r3_c1.jpg" width="90" height="90")
								a.desc(href="#")
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
								.shop_places
									a.shop_logo(href="#")
										img(src="img/shopfato.jpg" width=80 height=24)
										| shopfato
									.price
										a(href="#"): strong 799 <small>R$</small>
										a.green_button(href="#") VEDI OFERTA
							.item_compra
								a.thum_compra(href="#"): img(src="img/icones_r1_c1.jpg" width="90" height="90")
								a.desc(href="#")
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
								.shop_places
									a.shop_logo(href="#")
										img(src="img/girafa.jpg" width=80 height=24)
										| webfones
									.price
										a(href="#"): strong 799 <small>R$</small>
										a.green_button(href="#") VEDI OFERTA
			section#phoneslider
				h2 Celulares similies
				#view_scroll
					ul
						li
							a(href='')
								div
									img(src='img/slicing_36.png', alt='')
								p Samsung Galaxy S4
						li
							a(href='')
								div
									img(src='img/slicing_48.png', alt='')
							p Nokia Lumia 720
						li
							a(href='')
								div
									img(src='img/slicing_53.png', alt='')
							p HTC One
						li
							a(href='')
								div
									img(src='img/divisiones_r4_c12.png', alt='')
							p Samsung Galaxy S3
						li
							a(href='')
								div
									img(src='img/tel_grande1.png', alt='')
							p Sony Xperia Z
						li
							a(href='')
								div
									img(src='img/tel_grande2.png', alt='')
							p Apple Iphone 5
						li
							a(href='')
								div
									img(src='img/tel_grande1.png', alt='')
							p Nokia 5830
											
		include footer

precos.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tudo Celular</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=1090">
    <!--
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700" rel="stylesheet" type="text/css">
    -->
    <style>
      @font-face {
       font-family: 'Roboto';
       font-style: normal;
       font-weight: 100;
       src: local('Roboto Thin'), local('Roboto-Thin'), url(http://themes.googleusercontent.com/static/fonts/roboto/v9/vzIUHo9z-oJ4WgkpPOtg1_esZW2xOQ-xsNqO47m55DA.woff) format('woff');
      }
      @font-face {
       font-family: 'Roboto';
       font-style: normal;
       font-weight: 300;
       src: local('Roboto Light'), local('Roboto-Light'), url(http://themes.googleusercontent.com/static/fonts/roboto/v9/Hgo13k-tfSpn0qi1SFdUfT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
      }
      @font-face {
       font-family: 'Roboto';
       font-style: normal;
       font-weight: 400;
       src: local('Roboto Regular'), local('Roboto-Regular'), url(http://themes.googleusercontent.com/static/fonts/roboto/v9/2UX7WLTfW3W8TclTUvlFyQ.woff) format('woff');
      }
      @font-face {
       font-family: 'Roboto';
       font-style: normal;
       font-weight: 500;
       src: local('Roboto Medium'), local('Roboto-Medium'), url(http://themes.googleusercontent.com/static/fonts/roboto/v9/RxZJdnzeo3R5zSexge8UUT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
      }
      @font-face {
       font-family: 'Roboto';
       font-style: normal;
       font-weight: 700;
       src: local('Roboto Bold'), local('Roboto-Bold'), url(http://themes.googleusercontent.com/static/fonts/roboto/v9/d-6IYplOFocCacKzxwXSOD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
      }
      
      @font-face {
       font-family: 'Roboto Condensed';
       font-style: normal;
       font-weight: 300;
       src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(http://themes.googleusercontent.com/static/fonts/robotocondensed/v8/b9QBgL0iMZfDSpmcXcE8nNeiznanRB67rGZDYkMvKPc.woff) format('woff');
      }
      @font-face {
       font-family: 'Roboto Condensed';
       font-style: normal;
       font-weight: 400;
       src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url(http://themes.googleusercontent.com/static/fonts/robotocondensed/v8/Zd2E9abXLFGSr9G3YK2MsFzqCfRpIA3W6ypxnPISCPA.woff) format('woff');
      }
      @font-face {
       font-family: 'Roboto Condensed';
       font-style: normal;
       font-weight: 700;
       src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url(http://themes.googleusercontent.com/static/fonts/robotocondensed/v8/b9QBgL0iMZfDSpmcXcE8nCSLrGe-fkSRw2DeVgOoWcQ.woff) format('woff');
      }
      
    </style>
    <link rel="stylesheet" href="css/style.css">
    <script src="scripts/scripts.js"> </script>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/tdrunk/html5.js"></script>
    <script></script>
    <window class="html5">|| document.write('<script src="scripts/ie8down/html5shiv.js"><\\/script>')</window>
    <![endif]-->
  </head>
  <body>
    <div id="main_container" class="container">
      <div class="innerpadding">
        <header><a href="#"><img src="img/logo_principal.gif" alt="Tudo Celular"></a>
          <input id="search" type="text">
        </header>
      </div>
      <div id="nav_menu">
        <nav id="topnav"><a id="home" href="index_videos.html"></a>
          <div id="seccionlogin"><a id="iclogin" href="index_logged.html"></a>
            <div id="loginform" class="submenu">
              <div class="content">
                <p>
                  <input type="text" placeholder="USERNAME">
                </p>
                <p>
                  <input type="text" placeholder="PASSWORD">
                </p>
                <p class="remember">
                  <label>
                    <input type="checkbox" name="">Remember me
                  </label>
                </p>
                <p>
                  <input id="loginbtn" type="button" value="Login" onclick="document.location='index_logged.html'">
                  <input id="register" type="button" value="Register">
                </p>
              </div>
            </div>
          </div>
          <ul>
            <li><a href="#">Forum</a></li>
            <li><a href="tudo_android.html">Tudo <strong class="color_android">Android</strong></a></li>
            <li><a href="tudo_windows.html">Tudo <strong class="color_windows">Windows</strong></a></li>
            <li><a href="tudo_apple.html">Tudo <strong class="color_apple">Apple</strong></a></li>
            <li><a href="#">Guias</a></li>
            <li><a href="celulares_home.html">Celulares</a>
              <div class="submenu">
                <div class="content">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, vero, labore, aut et eius ad in quos eveniet eligendi dolorem unde doloribus soluta accusamus! Repudiandae aliquid mollitia quos perferendis quod.
                   <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, accusamus, amet, natus voluptas quas dolores aspernatur vel quos ipsum possimus consequatur impedit laudantium asperiores eius in ab debitis optio autem.</div>
                </div>
              </div>
            </li>
            <li><a href="compara_2tel.html">Compare</a></li>
            <li><a href="review.html">Review</a></li>
          </ul>
        </nav>
        <nav>
          <ul id="bottomnav">
            <li><a href="topic.html">Topic</a></li>
            <li><a href="celulares_home.html">Celulares</a></li>
            <li><a href="compara_3tel.html">Provas</a></li>
            <li><a href="compara_8tel.html">Compare</a></li>
            <li><a href="">Temas</a></li>
            <li><a href="">Walpapers</a></li>
            <li><a href="">Precos</a></li>
            <li><a href="">Forum</a></li>
            <li><a href="#">Articole e guide</a></li>
            <li><a href="compare_8tel.html">Celulares</a></li>
            <li><a href="">Provas</a></li>
          </ul>
        </nav>
      </div>
      <div class="ads_top"><img src="img/ad_wide.png" alt="" width="728" height="90"><img src="img/ad_face.png" alt="" width="258" height="90"></div>
      <section class="innerpadding clearfix">
        <aside class="narrow_column"><img src="img/white_phone.jpg" alt="" width="160" height="304">
          <ul class="lista_cursor">
            <li><a href="scheda_tecnica.html">Dados Tecnicos</a></li>
            <li><a href="review.html">Review</a></li>
            <li><a href="foto.html">Foto</a></li>
            <li><a href="video.html">Video</a></li>
            <li><a href="comentarios.html">Comentarios</a></li>
            <li><a href="precos.html" class="activo">Preco</a></li>
            <li><a href="#">Compare</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Papeis de Parede</a></li>
          </ul><a href="#">
            <div class="barcode"><em>Melhor Preco</em><strong>2,500 R$</strong></div></a>
        </aside>
        <div class="wide_column">
          <div id="etiqueta"><img src="img/transparent.png" width="100%" height="100%" usemap="#m_etiqueta">
            <div class="item_big_fichas"><span id="prezzolow" class="prezzolow">1,665</span><small>10x290 R$</small></div><map name="m_etiqueta" id="m_etiqueta">
              <area shape="poly" coords="13,91,130,23,171,94,55,161,13,91" href="#" alt=""></map>
          </div>
          <h2><strong>Samsung</strong> Galaxy S3</h2><small>Especificaciones Caracteristicas e Ficha Tecnica</small>
          <div class="iconos clearfix">
            <div class="item"><i class="ico_rede"></i><span>Rede</span><strong>HSPA+</strong></div>
            <div class="item"><i class="ico_quad"></i><span>Quad Core</span><strong>1.4Ghz</strong></div>
            <div class="item"><i class="ico_mem"></i><span>Memoria</span><strong>16 GB+</strong></div>
            <div class="item"><i class="ico_mem"></i><span>Gps</span><strong>Sim</strong></div>
            <div class="item"><i class="ico_android"></i><span>Android</span><strong>4.2.2</strong></div>
            <div class="item"><i class="ico_display"></i><span>Display</span><strong>4.8</strong></div>
            <div class="item"><i class="ico_foto"></i><span>Foto</span><strong>HSPA+</strong></div>
            <div class="item"><i class="ico_video"></i><span>Video</span><strong>Full HD</strong></div>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <div class="tabs">
            <ul>
              <li><a id="th1" href="#" onclick="return switchtab(1)" class="activo">Precos de Novos (61)								</a></li>
              <li><a id="th2" href="#" onclick="return switchtab(2)">Precos de Usados (2)</a></li>
              <li><a id="th3" href="#" onclick="return switchtab(3)">Mer cado Libre (5)</a></li>
            </ul>
            <div id="table1" class="tabs_content">
              <div class="tab_header">Samsung Galaxy S3: <strong>16 Ofertas</strong> em <strong>8 Lojas</strong>
                <div class="negocio">Loja</div>
                <div class="price"><a href="#">Precos  <img src="img/freccia_dw.gif" /></a></div>
              </div>
              <div class="item_compra"><a href="#" class="thum_compra"><img src="img/icones_r1_c1.jpg" width="90" height="90"></a><a href="#" class="desc">
                  <Lorem>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</Lorem></a>
                <div class="shop_places"><a href="#" class="shop_logo"><img src="img/webfones.jpg" width="80" height="24">webfones</a>
                  <div class="price"><a href="#"><strong>799 <small>R$</small></strong></a><a href="#" class="green_button">VEDI OFERTA</a></div>
                </div>
              </div>
              <div class="item_compra"><a href="#" class="thum_compra"><img src="img/icones_r3_c1.jpg" width="90" height="90"></a><a href="#" class="desc">
                  <Lorem>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</Lorem></a>
                <div class="shop_places"><a href="#" class="shop_logo"><img src="img/shopfato.jpg" width="80" height="24">shopfato</a>
                  <div class="price"><a href="#"><strong>799 <small>R$</small></strong></a><a href="#" class="green_button">VEDI OFERTA</a></div>
                </div>
              </div>
              <div class="item_compra"><a href="#" class="thum_compra"><img src="img/icones_r1_c1.jpg" width="90" height="90"></a><a href="#" class="desc">
                  <Lorem>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</Lorem></a>
                <div class="shop_places"><a href="#" class="shop_logo"><img src="img/girafa.jpg" width="80" height="24">webfones</a>
                  <div class="price"><a href="#"><strong>799 <small>R$</small></strong></a><a href="#" class="green_button">VEDI OFERTA</a></div>
                </div>
              </div>
              <div class="item_compra"><a href="#" class="thum_compra"><img src="img/icones_r1_c1.jpg" width="90" height="90"></a><a href="#" class="desc">
                  <Lorem>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</Lorem></a>
                <div class="shop_places"><a href="#" class="shop_logo"><img src="img/webfones.jpg" width="80" height="24">webfones</a>
                  <div class="price"><a href="#"><strong>799 <small>R$</small></strong></a><a href="#" class="green_button">VEDI OFERTA</a></div>
                </div>
              </div>
              <div class="item_compra"><a href="#" class="thum_compra"><img src="img/icones_r3_c1.jpg" width="90" height="90"></a><a href="#" class="desc">
                  <Lorem>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</Lorem></a>
                <div class="shop_places"><a href="#" class="shop_logo"><img src="img/shopfato.jpg" width="80" height="24">shopfato</a>
                  <div class="price"><a href="#"><strong>799 <small>R$</small></strong></a><a href="#" class="green_button">VEDI OFERTA</a></div>
                </div>
              </div>
              <div class="item_compra"><a href="#" class="thum_compra"><img src="img/icones_r1_c1.jpg" width="90" height="90"></a><a href="#" class="desc">
                  <Lorem>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</Lorem></a>
                <div class="shop_places"><a href="#" class="shop_logo"><img src="img/girafa.jpg" width="80" height="24">webfones</a>
                  <div class="price"><a href="#"><strong>799 <small>R$</small></strong></a><a href="#" class="green_button">VEDI OFERTA</a></div>
                </div>
              </div>
              <div class="item_compra"><a href="#" class="thum_compra"><img src="img/icones_r1_c1.jpg" width="90" height="90"></a><a href="#" class="desc">
                  <Lorem>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</Lorem></a>
                <div class="shop_places"><a href="#" class="shop_logo"><img src="img/webfones.jpg" width="80" height="24">webfones</a>
                  <div class="price"><a href="#"><strong>799 <small>R$</small></strong></a><a href="#" class="green_button">VEDI OFERTA</a></div>
                </div>
              </div>
              <div class="item_compra"><a href="#" class="thum_compra"><img src="img/icones_r3_c1.jpg" width="90" height="90"></a><a href="#" class="desc">
                  <Lorem>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</Lorem></a>
                <div class="shop_places"><a href="#" class="shop_logo"><img src="img/shopfato.jpg" width="80" height="24">shopfato</a>
                  <div class="price"><a href="#"><strong>799 <small>R$</small></strong></a><a href="#" class="green_button">VEDI OFERTA</a></div>
                </div>
              </div>
              <div class="item_compra"><a href="#" class="thum_compra"><img src="img/icones_r1_c1.jpg" width="90" height="90"></a><a href="#" class="desc">
                  <Lorem>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</Lorem></a>
                <div class="shop_places"><a href="#" class="shop_logo"><img src="img/girafa.jpg" width="80" height="24">webfones</a>
                  <div class="price"><a href="#"><strong>799 <small>R$</small></strong></a><a href="#" class="green_button">VEDI OFERTA</a></div>
                </div>
              </div>
              <div class="item_compra"><a href="#" class="thum_compra"><img src="img/icones_r1_c1.jpg" width="90" height="90"></a><a href="#" class="desc">
                  <Lorem>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</Lorem></a>
                <div class="shop_places"><a href="#" class="shop_logo"><img src="img/webfones.jpg" width="80" height="24">webfones</a>
                  <div class="price"><a href="#"><strong>799 <small>R$</small></strong></a><a href="#" class="green_button">VEDI OFERTA</a></div>
                </div>
              </div>
              <div class="item_compra"><a href="#" class="thum_compra"><img src="img/icones_r3_c1.jpg" width="90" height="90"></a><a href="#" class="desc">
                  <Lorem>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</Lorem></a>
                <div class="shop_places"><a href="#" class="shop_logo"><img src="img/shopfato.jpg" width="80" height="24">shopfato</a>
                  <div class="price"><a href="#"><strong>799 <small>R$</small></strong></a><a href="#" class="green_button">VEDI OFERTA</a></div>
                </div>
              </div>
              <div class="item_compra"><a href="#" class="thum_compra"><img src="img/icones_r1_c1.jpg" width="90" height="90"></a><a href="#" class="desc">
                  <Lorem>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</Lorem></a>
                <div class="shop_places"><a href="#" class="shop_logo"><img src="img/girafa.jpg" width="80" height="24">webfones</a>
                  <div class="price"><a href="#"><strong>799 <small>R$</small></strong></a><a href="#" class="green_button">VEDI OFERTA</a></div>
                </div>
              </div>
            </div>
            <div id="table2" class="tabs_content">
              <div class="tab_header">Samsung Galaxy S3: <strong>2 Ofertas</strong> de <strong>Usados</strong>
                <div class="negocio">Loja</div>
                <div class="price"><a href="#">Precos  <img src="img/freccia_dw.gif" /></a></div>
              </div>
              <div class="item_compra"><a href="#" class="thum_compra"><img src="img/icones_r1_c1.jpg" width="90" height="90"></a><a href="#" class="desc">
                  <Lorem>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</Lorem></a>
                <div class="shop_places"><a href="#" class="shop_logo"><img src="img/webfones.jpg" width="80" height="24">webfones</a>
                  <div class="price"><a href="#"><strong>799 <small>R$</small></strong></a><a href="#" class="green_button">VEDI OFERTA</a></div>
                </div>
              </div>
              <div class="item_compra"><a href="#" class="thum_compra"><img src="img/icones_r3_c1.jpg" width="90" height="90"></a><a href="#" class="desc">
                  <Lorem>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</Lorem></a>
                <div class="shop_places"><a href="#" class="shop_logo"><img src="img/shopfato.jpg" width="80" height="24">shopfato</a>
                  <div class="price"><a href="#"><strong>799 <small>R$</small></strong></a><a href="#" class="green_button">VEDI OFERTA</a></div>
                </div>
              </div>
            </div>
            <div id="table3" class="tabs_content">
              <div class="tab_header">Samsung Galaxy S3: <strong>5 Ofertas</strong> em <strong>8 Lojas</strong>
                <div class="negocio">Loja</div>
                <div class="price"><a href="#">Precos  <img src="img/freccia_dw.gif" /></a></div>
              </div>
              <div class="item_compra"><a href="#" class="thum_compra"><img src="img/icones_r3_c1.jpg" width="90" height="90"></a><a href="#" class="desc">
                  <Lorem>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</Lorem></a>
                <div class="shop_places"><a href="#" class="shop_logo"><img src="img/shopfato.jpg" width="80" height="24">shopfato</a>
                  <div class="price"><a href="#"><strong>799 <small>R$</small></strong></a><a href="#" class="green_button">VEDI OFERTA</a></div>
                </div>
              </div>
              <div class="item_compra"><a href="#" class="thum_compra"><img src="img/icones_r1_c1.jpg" width="90" height="90"></a><a href="#" class="desc">
                  <Lorem>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</Lorem></a>
                <div class="shop_places"><a href="#" class="shop_logo"><img src="img/girafa.jpg" width="80" height="24">webfones</a>
                  <div class="price"><a href="#"><strong>799 <small>R$</small></strong></a><a href="#" class="green_button">VEDI OFERTA</a></div>
                </div>
              </div>
              <div class="item_compra"><a href="#" class="thum_compra"><img src="img/icones_r1_c1.jpg" width="90" height="90"></a><a href="#" class="desc">
                  <Lorem>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</Lorem></a>
                <div class="shop_places"><a href="#" class="shop_logo"><img src="img/webfones.jpg" width="80" height="24">webfones</a>
                  <div class="price"><a href="#"><strong>799 <small>R$</small></strong></a><a href="#" class="green_button">VEDI OFERTA</a></div>
                </div>
              </div>
              <div class="item_compra"><a href="#" class="thum_compra"><img src="img/icones_r3_c1.jpg" width="90" height="90"></a><a href="#" class="desc">
                  <Lorem>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</Lorem></a>
                <div class="shop_places"><a href="#" class="shop_logo"><img src="img/shopfato.jpg" width="80" height="24">shopfato</a>
                  <div class="price"><a href="#"><strong>799 <small>R$</small></strong></a><a href="#" class="green_button">VEDI OFERTA</a></div>
                </div>
              </div>
              <div class="item_compra"><a href="#" class="thum_compra"><img src="img/icones_r1_c1.jpg" width="90" height="90"></a><a href="#" class="desc">
                  <Lorem>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</Lorem></a>
                <div class="shop_places"><a href="#" class="shop_logo"><img src="img/girafa.jpg" width="80" height="24">webfones</a>
                  <div class="price"><a href="#"><strong>799 <small>R$</small></strong></a><a href="#" class="green_button">VEDI OFERTA</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="phoneslider">
        <h2>Celulares similies</h2>
        <div id="view_scroll">
          <ul>
            <li><a href="">
                <div><img src="img/slicing_36.png" alt=""></div>
                <p>Samsung Galaxy S4</p></a></li>
            <li><a href="">
                <div><img src="img/slicing_48.png" alt=""></div></a>
              <p>Nokia Lumia 720</p>
            </li>
            <li><a href="">
                <div><img src="img/slicing_53.png" alt=""></div></a>
              <p>HTC One</p>
            </li>
            <li><a href="">
                <div><img src="img/divisiones_r4_c12.png" alt=""></div></a>
              <p>Samsung Galaxy S3</p>
            </li>
            <li><a href="">
                <div><img src="img/tel_grande1.png" alt=""></div></a>
              <p>Sony Xperia Z</p>
            </li>
            <li><a href="">
                <div><img src="img/tel_grande2.png" alt=""></div></a>
              <p>Apple Iphone 5</p>
            </li>
            <li><a href="">
                <div><img src="img/tel_grande1.png" alt=""></div></a>
              <p>Nokia 5830</p>
            </li>
          </ul>
        </div>
      </section>
    </div>
    <footer>
      <div class="container"><a id="logo" href="#"><img src="img/slicing_66.gif" alt="tudocelular"></a>
        <p>© 2013 - Pixel Research Ltd - Todos os direitos reservados</p>
        <div class="footer_nav"><a href="#">Fale conosco »</a><a href="#">Redação »</a><a href="#">Newsletter »</a><a href="#">Notícias no seu site »</a><a href="#">Anuncie »</a></div>
        <div class="social"><a href="#"><i class="sprites fb"></i></a><a href="#"><i class="sprites tw"></i></a><a href="#"><i class="sprites yt"></i></a><a href="#"><i class="sprites g"></i></a><a href="#"><i class="sprites rss"></i></a></div>
      </div>
    </footer>
  </body>
</html>
