review.jade
- var enlaces_lista=[{link:'scheda_tecnica.html',texto:'Dados Tecnicos'},{link:'review.html',texto:'Review'},{link:'foto.html',texto:'Foto'},{link:'video.html',texto:'Video'},{link:'comentarios.html',texto:'Comentarios'},{link:'precos.html',texto:'Preco'},{link:'#',texto:'Compare'},{link:'#',texto:'Blog'},{link:'#',texto:'Papeis de Parede'}] 
!!!
html(lang="en")
	include head
	body
		.container#main_container
			.innerpadding
				header
					a(href='#')
						img(src='img/logo_principal.gif', alt='Tudo Celular')
					input#search(type='text')
			//- Incluida top_nav.jade 
			include top_nav
		
			.ads_top
				img(src='img/ad_wide.png', alt='', width='728', height='90')
				img(src='img/ad_face.png', alt='', width='258', height='90')
					
			section.innerpadding.clearfix
				aside.narrow_column
					img(src='img/white_phone.jpg', alt='', width='160', height='304')
					ul.lista_cursor
						for enlace in enlaces_lista
							if enlace.texto=='Review'
								li: a.activo(href=enlace.link)=enlace.texto
							else
								li: a(href=enlace.link)=enlace.texto
					a(href="#")
						.barcode
							em Melhor Preco
							strong 2,500 R$
				.wide_column
					#etiqueta
						img(src="img/transparent.png" width="100%" height="100%" usemap="#m_etiqueta")
						.item_big_fichas
							span.prezzolow(id="prezzolow") 1,665
							small 10x290 R$
						map(name="m_etiqueta" id="m_etiqueta")
							area(shape="poly" coords="13,91,130,23,171,94,55,161,13,91" href="#" target="_blank")
					h2 <strong>Samsung</strong> Galaxy S3
					small Review
					.top_review
						.ritem
							|Custo - benefício
							.estrellas
								img(src="img/star_yellow_mini.png" width=14 height=13)
								img(src="img/star_yellow_mini.png" width=14 height=13)
								img(src="img/star_yellow_mini.png" width=14 height=13)
								img(src="img/star_yellow_mini.png" width=14 height=13)
								img(src="img/star_yellow_mini.png" width=14 height=13)
						.ritem
							|Comodidade
							.estrellas
								img(src="img/star_yellow_mini.png" width=14 height=13)
								img(src="img/star_yellow_mini.png" width=14 height=13)
								img(src="img/star_yellow_mini.png" width=14 height=13)
								img(src="img/star_gray_mini.png" width=14 height=13)
								img(src="img/star_gray_mini.png" width=14 height=13)
						.ritem
							|Multimidia
							.estrellas
								img(src="img/star_yellow_mini.png" width=14 height=13)
								img(src="img/star_yellow_mini.png" width=14 height=13)
								img(src="img/star_yellow_mini.png" width=14 height=13)
								img(src="img/star_yellow_mini.png" width=14 height=13)
								img(src="img/star_gray_mini.png" width=14 height=13)
						.ritem
							|Embalagem y caracteristicas
							.estrellas
								img(src="img/star_yellow_mini.png" width=14 height=13)
								img(src="img/star_yellow_mini.png" width=14 height=13)
								img(src="img/star_yellow_mini.png" width=14 height=13)
								img(src="img/star_yellow_mini.png" width=14 height=13)
								img(src="img/star_gray_mini.png" width=14 height=13)
						.ritem
							|Facilidad de uso
							.estrellas
								img(src="img/star_yellow_mini.png" width=14 height=13)
								img(src="img/star_yellow_mini.png" width=14 height=13)
								img(src="img/star_yellow_mini.png" width=14 height=13)
								img(src="img/star_yellow_mini.png" width=14 height=13)
								img(src="img/star_gray_mini.png" width=14 height=13)
						.ritem
							|Votacao Geral
							.estrellas
								img(src="img/star_yellow_mini.png" width=14 height=13)
								img(src="img/star_yellow_mini.png" width=14 height=13)
								img(src="img/star_yellow_mini.png" width=14 height=13)
								img(src="img/star_gray_mini.png" width=14 height=13)
								img(src="img/star_gray_mini.png" width=14 height=13)
					.topicos_review
						h4 Topicos do Review
						a.pagetop(href="#")
							span 1
							| Unboxing
						a.pagetop(href="#")
							span 2
							| Parte  externa
						a.pagetop(href="#")
							span 3
							| Dimensiones pegada e peso
						a.pagetop(href="#")
							span 4
							| Desmpenho do Android
						a.pagetop(href="#")
							span 5
							| Jogos e multimedia
						a.pagetop(href="#")
							span 6
							| Camera
					.review_video
						a.image_video(href="#")
							img(src="img/webbb_r4_c18.png" width=154 height=86)
						.model_title HTC Desire HD
						strong Prova em video 
						a.green_button VER VIDEO

					.image_label
						.labelo UNBOXING
						img(src="img/webbb_r4_c2.png" width=764 height=343)
					p.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					p.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.	
					p.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					img.mr(src="img/webbb_r6_c2.png" width=254 height=209)
					img.mr(src="img/webbb_r6_c14.png" width=254 height=209)
					img.mr(src="img/webbb_r6_c20.png" width=254 height=209)

					p.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

					.image_label
						.labelo FUNCONES E MATERIALS
						img(src="img/webbb_r8_c2.png" width=764 height=343)
					p.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  <br/>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <br/> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					.image_label
						.labelo DIMENSIONES E RECURSOS
						img(src="img/webbb_r10_c2.png" width=764 height=343)
					p.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  <br/><br/>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <br/> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					.image_label
						.labelo CAMARA
						img(src="img/webbb_r12_c2.png" width=764 height=343)
					p.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  <br/>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <br/> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					#grid_images.clearfix
						img.aleft(src="img/webbb_r14_c2.png" width=382 height=209)
						img.aleft(src="img/webbb_r14_c16.png" width=382 height=209)
						img.aleft(src="img/webbb_r16_c2.png" width=382 height=209)
						img.aleft(src="img/webbb_r16_c16.png" width=382 height=209)

					p.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  <br/>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <br/> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

					.image_label.clearfix#fracos_fortes
						.labelo PONTOS FORTES E PONTOS FRACOS
						.pontos#fortes
							img(src="img/webbb_r18_c3.png" width=63 height=70)
							ul
								li: <span>Tela de alta resolucao e alta qualidade nas cores</span>
								li: <span>Tela de alta resolucao e alta qualidade nas cores</span>
								li: <span>Tela de alta resolucao e alta qualidade nas cores</span>
								li: <span>Tela de alta resolucao e alta qualidade nas cores</span>
						.pontos#fracos
							img(src="img/webbb_r19_c17.png" width=63 height=70)
							ul
								li: <span>Tela de alta resolucao e alta qualidade nas cores</span>
								li: <span>Tela de alta resolucao e alta qualidade nas cores</span>
								li: <span>Tela de alta resolucao e alta qualidade nas cores</span>
								li: <span>Tela de alta resolucao e alta qualidade nas cores</span>
					
					.labelo CONCLUSAO
					p.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  <br/>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <br/> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					p.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  <br/>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <br/> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					.labelo AVALIACAO FINAL DO TUDOCELULAR.COM
					.avaliacao
						.item_avaliacao
							strong Custo - benefício
							.stars_desc
								.estrellas_big
									img(src="img/star_yellow.png" width=19 height=19)
									img(src="img/star_yellow.png" width=19 height=19)
									img(src="img/star_yellow.png" width=19 height=19)
									img(src="img/star_yellow.png" width=19 height=19)
									img(src="img/star_gray.png" width=19 height=19)
								p.
									Ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						.item_avaliacao
							strong Embalagem e caracteristicas
							.stars_desc
								.estrellas_big
									img(src="img/star_yellow.png" width=19 height=19)
									img(src="img/star_yellow.png" width=19 height=19)
									img(src="img/star_yellow.png" width=19 height=19)
									img(src="img/star_yellow.png" width=19 height=19)
									img(src="img/star_gray.png" width=19 height=19)
								p.
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  <br/>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <br/> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						.item_avaliacao
							strong Comodidade
							.stars_desc
								.estrellas_big
									img(src="img/star_yellow.png" width=19 height=19)
									img(src="img/star_yellow.png" width=19 height=19)
									img(src="img/star_yellow.png" width=19 height=19)
									img(src="img/star_yellow.png" width=19 height=19)
									img(src="img/star_gray.png" width=19 height=19)
								p.
									Ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						.item_avaliacao
							strong Multimidia
							.stars_desc
								.estrellas_big
									img(src="img/star_yellow.png" width=19 height=19)
									img(src="img/star_yellow.png" width=19 height=19)
									img(src="img/star_yellow.png" width=19 height=19)
									img(src="img/star_yellow.png" width=19 height=19)
									img(src="img/star_gray.png" width=19 height=19)
								p.
									Ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						.item_avaliacao
							strong Votacao general
							.stars_desc
								.estrellas_big
									img(src="img/star_yellow.png" width=19 height=19)
									img(src="img/star_yellow.png" width=19 height=19)
									img(src="img/star_yellow.png" width=19 height=19)
									img(src="img/star_yellow.png" width=19 height=19)
									img(src="img/star_gray.png" width=19 height=19)
								p.
									Ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
			section#video_section.clearfix.innerpadding
				.wide_column					
					.player_video
						h3 TESTE DE CAMERA: SAMSUNG GALAXY S III
						img.player(src="img/player1.jpg" width=728 height=441)
						a(href="#"): img.banner_bottom_ad(src="img/banner_bottom.jpg" width=728 height=89)
						a(href="#").add_comment Adicionar um comentario para o <em>Samsung Galaxy S3</em>

			#social_buttons.social_centrado 
				ul
					li.social_gplus
						strong 100
						button Plus
					li.social_like
						strong 22
						button Like
					li.social_tweet
						strong 355
						button Tweet
					li.social_share
						strong 43
						button Share
					li.social_orkut
						strong 56
						button Orkut		
			//- Incluida seccion onde_comprar.jade						
			include onde_comprar
		include footer

review.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tudo Celular</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=1090">
    <!--
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700" rel="stylesheet" type="text/css">
    -->
    <style>
      @font-face {
       font-family: 'Roboto';
       font-style: normal;
       font-weight: 100;
       src: local('Roboto Thin'), local('Roboto-Thin'), url(http://themes.googleusercontent.com/static/fonts/roboto/v9/vzIUHo9z-oJ4WgkpPOtg1_esZW2xOQ-xsNqO47m55DA.woff) format('woff');
      }
      @font-face {
       font-family: 'Roboto';
       font-style: normal;
       font-weight: 300;
       src: local('Roboto Light'), local('Roboto-Light'), url(http://themes.googleusercontent.com/static/fonts/roboto/v9/Hgo13k-tfSpn0qi1SFdUfT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
      }
      @font-face {
       font-family: 'Roboto';
       font-style: normal;
       font-weight: 400;
       src: local('Roboto Regular'), local('Roboto-Regular'), url(http://themes.googleusercontent.com/static/fonts/roboto/v9/2UX7WLTfW3W8TclTUvlFyQ.woff) format('woff');
      }
      @font-face {
       font-family: 'Roboto';
       font-style: normal;
       font-weight: 500;
       src: local('Roboto Medium'), local('Roboto-Medium'), url(http://themes.googleusercontent.com/static/fonts/roboto/v9/RxZJdnzeo3R5zSexge8UUT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
      }
      @font-face {
       font-family: 'Roboto';
       font-style: normal;
       font-weight: 700;
       src: local('Roboto Bold'), local('Roboto-Bold'), url(http://themes.googleusercontent.com/static/fonts/roboto/v9/d-6IYplOFocCacKzxwXSOD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
      }
      
      @font-face {
       font-family: 'Roboto Condensed';
       font-style: normal;
       font-weight: 300;
       src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(http://themes.googleusercontent.com/static/fonts/robotocondensed/v8/b9QBgL0iMZfDSpmcXcE8nNeiznanRB67rGZDYkMvKPc.woff) format('woff');
      }
      @font-face {
       font-family: 'Roboto Condensed';
       font-style: normal;
       font-weight: 400;
       src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url(http://themes.googleusercontent.com/static/fonts/robotocondensed/v8/Zd2E9abXLFGSr9G3YK2MsFzqCfRpIA3W6ypxnPISCPA.woff) format('woff');
      }
      @font-face {
       font-family: 'Roboto Condensed';
       font-style: normal;
       font-weight: 700;
       src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url(http://themes.googleusercontent.com/static/fonts/robotocondensed/v8/b9QBgL0iMZfDSpmcXcE8nCSLrGe-fkSRw2DeVgOoWcQ.woff) format('woff');
      }
      
    </style>
    <link rel="stylesheet" href="css/style.css">
    <script src="scripts/scripts.js"> </script>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/tdrunk/html5.js"></script>
    <script></script>
    <window class="html5">|| document.write('<script src="scripts/ie8down/html5shiv.js"><\\/script>')</window>
    <![endif]-->
  </head>
  <body>
    <div id="main_container" class="container">
      <div class="innerpadding">
        <header><a href="#"><img src="img/logo_principal.gif" alt="Tudo Celular"></a>
          <input id="search" type="text">
        </header>
      </div>
      <div id="nav_menu">
        <nav id="topnav"><a id="home" href="index_videos.html"></a>
          <div id="seccionlogin"><a id="iclogin" href="index_logged.html"></a>
            <div id="loginform" class="submenu">
              <div class="content">
                <p>
                  <input type="text" placeholder="USERNAME">
                </p>
                <p>
                  <input type="text" placeholder="PASSWORD">
                </p>
                <p class="remember">
                  <label>
                    <input type="checkbox" name="">Remember me
                  </label>
                </p>
                <p>
                  <input id="loginbtn" type="button" value="Login" onclick="document.location='index_logged.html'">
                  <input id="register" type="button" value="Register">
                </p>
              </div>
            </div>
          </div>
          <ul>
            <li><a href="#">Forum</a></li>
            <li><a href="tudo_android.html">Tudo <strong class="color_android">Android</strong></a></li>
            <li><a href="tudo_windows.html">Tudo <strong class="color_windows">Windows</strong></a></li>
            <li><a href="tudo_apple.html">Tudo <strong class="color_apple">Apple</strong></a></li>
            <li><a href="#">Guias</a></li>
            <li><a href="celulares_home.html">Celulares</a>
              <div class="submenu">
                <div class="content">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, vero, labore, aut et eius ad in quos eveniet eligendi dolorem unde doloribus soluta accusamus! Repudiandae aliquid mollitia quos perferendis quod.
                   <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, accusamus, amet, natus voluptas quas dolores aspernatur vel quos ipsum possimus consequatur impedit laudantium asperiores eius in ab debitis optio autem.</div>
                </div>
              </div>
            </li>
            <li><a href="compara_2tel.html">Compare</a></li>
            <li><a href="review.html">Review</a></li>
          </ul>
        </nav>
        <nav>
          <ul id="bottomnav">
            <li><a href="topic.html">Topic</a></li>
            <li><a href="celulares_home.html">Celulares</a></li>
            <li><a href="compara_3tel.html">Provas</a></li>
            <li><a href="compara_8tel.html">Compare</a></li>
            <li><a href="">Temas</a></li>
            <li><a href="">Walpapers</a></li>
            <li><a href="">Precos</a></li>
            <li><a href="">Forum</a></li>
            <li><a href="#">Articole e guide</a></li>
            <li><a href="compare_8tel.html">Celulares</a></li>
            <li><a href="">Provas</a></li>
          </ul>
        </nav>
      </div>
      <div class="ads_top"><img src="img/ad_wide.png" alt="" width="728" height="90"><img src="img/ad_face.png" alt="" width="258" height="90"></div>
      <section class="innerpadding clearfix">
        <aside class="narrow_column"><img src="img/white_phone.jpg" alt="" width="160" height="304">
          <ul class="lista_cursor">
            <li><a href="scheda_tecnica.html">Dados Tecnicos</a></li>
            <li><a href="review.html" class="activo">Review</a></li>
            <li><a href="foto.html">Foto</a></li>
            <li><a href="video.html">Video</a></li>
            <li><a href="comentarios.html">Comentarios</a></li>
            <li><a href="precos.html">Preco</a></li>
            <li><a href="#">Compare</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Papeis de Parede</a></li>
          </ul><a href="#">
            <div class="barcode"><em>Melhor Preco</em><strong>2,500 R$</strong></div></a>
        </aside>
        <div class="wide_column">
          <div id="etiqueta"><img src="img/transparent.png" width="100%" height="100%" usemap="#m_etiqueta">
            <div class="item_big_fichas"><span id="prezzolow" class="prezzolow">1,665</span><small>10x290 R$</small></div><map name="m_etiqueta" id="m_etiqueta">
              <area shape="poly" coords="13,91,130,23,171,94,55,161,13,91" href="#" target="_blank"></map>
          </div>
          <h2><strong>Samsung</strong> Galaxy S3</h2><small>Review</small>
          <div class="top_review">
            <div class="ritem">Custo - benefício
              <div class="estrellas"><img src="img/star_yellow_mini.png" width="14" height="13"><img src="img/star_yellow_mini.png" width="14" height="13"><img src="img/star_yellow_mini.png" width="14" height="13"><img src="img/star_yellow_mini.png" width="14" height="13"><img src="img/star_yellow_mini.png" width="14" height="13"></div>
            </div>
            <div class="ritem">Comodidade
              <div class="estrellas"><img src="img/star_yellow_mini.png" width="14" height="13"><img src="img/star_yellow_mini.png" width="14" height="13"><img src="img/star_yellow_mini.png" width="14" height="13"><img src="img/star_gray_mini.png" width="14" height="13"><img src="img/star_gray_mini.png" width="14" height="13"></div>
            </div>
            <div class="ritem">Multimidia
              <div class="estrellas"><img src="img/star_yellow_mini.png" width="14" height="13"><img src="img/star_yellow_mini.png" width="14" height="13"><img src="img/star_yellow_mini.png" width="14" height="13"><img src="img/star_yellow_mini.png" width="14" height="13"><img src="img/star_gray_mini.png" width="14" height="13"></div>
            </div>
            <div class="ritem">Embalagem y caracteristicas
              <div class="estrellas"><img src="img/star_yellow_mini.png" width="14" height="13"><img src="img/star_yellow_mini.png" width="14" height="13"><img src="img/star_yellow_mini.png" width="14" height="13"><img src="img/star_yellow_mini.png" width="14" height="13"><img src="img/star_gray_mini.png" width="14" height="13"></div>
            </div>
            <div class="ritem">Facilidad de uso
              <div class="estrellas"><img src="img/star_yellow_mini.png" width="14" height="13"><img src="img/star_yellow_mini.png" width="14" height="13"><img src="img/star_yellow_mini.png" width="14" height="13"><img src="img/star_yellow_mini.png" width="14" height="13"><img src="img/star_gray_mini.png" width="14" height="13"></div>
            </div>
            <div class="ritem">Votacao Geral
              <div class="estrellas"><img src="img/star_yellow_mini.png" width="14" height="13"><img src="img/star_yellow_mini.png" width="14" height="13"><img src="img/star_yellow_mini.png" width="14" height="13"><img src="img/star_gray_mini.png" width="14" height="13"><img src="img/star_gray_mini.png" width="14" height="13"></div>
            </div>
          </div>
          <div class="topicos_review">
            <h4>Topicos do Review</h4><a href="#" class="pagetop"><span>1</span>Unboxing</a><a href="#" class="pagetop"><span>2</span>Parte  externa</a><a href="#" class="pagetop"><span>3</span>Dimensiones pegada e peso</a><a href="#" class="pagetop"><span>4</span>Desmpenho do Android</a><a href="#" class="pagetop"><span>5</span>Jogos e multimedia</a><a href="#" class="pagetop"><span>6</span>Camera</a>
          </div>
          <div class="review_video"><a href="#" class="image_video"><img src="img/webbb_r4_c18.png" width="154" height="86"></a>
            <div class="model_title">HTC Desire HD</div><strong>Prova em video </strong><a class="green_button">VER VIDEO</a>
          </div>
          <div class="image_label">
            <div class="labelo">UNBOXING</div><img src="img/webbb_r4_c2.png" width="764" height="343">
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.	</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p><img src="img/webbb_r6_c2.png" width="254" height="209" class="mr"><img src="img/webbb_r6_c14.png" width="254" height="209" class="mr"><img src="img/webbb_r6_c20.png" width="254" height="209" class="mr">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            
          </p>
          <div class="image_label">
            <div class="labelo">FUNCONES E MATERIALS</div><img src="img/webbb_r8_c2.png" width="764" height="343">
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  <br/>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <br/> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <div class="image_label">
            <div class="labelo">DIMENSIONES E RECURSOS</div><img src="img/webbb_r10_c2.png" width="764" height="343">
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  <br/><br/>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <br/> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <div class="image_label">
            <div class="labelo">CAMARA</div><img src="img/webbb_r12_c2.png" width="764" height="343">
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  <br/>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <br/> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <div id="grid_images" class="clearfix"><img src="img/webbb_r14_c2.png" width="382" height="209" class="aleft"><img src="img/webbb_r14_c16.png" width="382" height="209" class="aleft"><img src="img/webbb_r16_c2.png" width="382" height="209" class="aleft"><img src="img/webbb_r16_c16.png" width="382" height="209" class="aleft"></div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  <br/>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <br/> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            
          </p>
          <div id="fracos_fortes" class="image_label clearfix">
            <div class="labelo">PONTOS FORTES E PONTOS FRACOS</div>
            <div id="fortes" class="pontos"><img src="img/webbb_r18_c3.png" width="63" height="70">
              <ul>
                <li><span>Tela de alta resolucao e alta qualidade nas cores</span></li>
                <li><span>Tela de alta resolucao e alta qualidade nas cores</span></li>
                <li><span>Tela de alta resolucao e alta qualidade nas cores</span></li>
                <li><span>Tela de alta resolucao e alta qualidade nas cores</span></li>
              </ul>
            </div>
            <div id="fracos" class="pontos"><img src="img/webbb_r19_c17.png" width="63" height="70">
              <ul>
                <li><span>Tela de alta resolucao e alta qualidade nas cores</span></li>
                <li><span>Tela de alta resolucao e alta qualidade nas cores</span></li>
                <li><span>Tela de alta resolucao e alta qualidade nas cores</span></li>
                <li><span>Tela de alta resolucao e alta qualidade nas cores</span></li>
              </ul>
            </div>
          </div>
          <div class="labelo">CONCLUSAO</div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  <br/>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <br/> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  <br/>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <br/> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <div class="labelo">AVALIACAO FINAL DO TUDOCELULAR.COM</div>
          <div class="avaliacao">
            <div class="item_avaliacao"><strong>Custo - benefício</strong>
              <div class="stars_desc">
                <div class="estrellas_big"><img src="img/star_yellow.png" width="19" height="19"><img src="img/star_yellow.png" width="19" height="19"><img src="img/star_yellow.png" width="19" height="19"><img src="img/star_yellow.png" width="19" height="19"><img src="img/star_gray.png" width="19" height="19"></div>
                <p>Ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
              </div>
            </div>
            <div class="item_avaliacao"><strong>Embalagem e caracteristicas</strong>
              <div class="stars_desc">
                <div class="estrellas_big"><img src="img/star_yellow.png" width="19" height="19"><img src="img/star_yellow.png" width="19" height="19"><img src="img/star_yellow.png" width="19" height="19"><img src="img/star_yellow.png" width="19" height="19"><img src="img/star_gray.png" width="19" height="19"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  <br/>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <br/> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
            </div>
            <div class="item_avaliacao"><strong>Comodidade</strong>
              <div class="stars_desc">
                <div class="estrellas_big"><img src="img/star_yellow.png" width="19" height="19"><img src="img/star_yellow.png" width="19" height="19"><img src="img/star_yellow.png" width="19" height="19"><img src="img/star_yellow.png" width="19" height="19"><img src="img/star_gray.png" width="19" height="19"></div>
                <p>Ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
              </div>
            </div>
            <div class="item_avaliacao"><strong>Multimidia</strong>
              <div class="stars_desc">
                <div class="estrellas_big"><img src="img/star_yellow.png" width="19" height="19"><img src="img/star_yellow.png" width="19" height="19"><img src="img/star_yellow.png" width="19" height="19"><img src="img/star_yellow.png" width="19" height="19"><img src="img/star_gray.png" width="19" height="19"></div>
                <p>Ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
              </div>
            </div>
            <div class="item_avaliacao"><strong>Votacao general</strong>
              <div class="stars_desc">
                <div class="estrellas_big"><img src="img/star_yellow.png" width="19" height="19"><img src="img/star_yellow.png" width="19" height="19"><img src="img/star_yellow.png" width="19" height="19"><img src="img/star_yellow.png" width="19" height="19"><img src="img/star_gray.png" width="19" height="19"></div>
                <p>Ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="video_section" class="clearfix innerpadding">
        <div class="wide_column">					
          <div class="player_video">
            <h3>TESTE DE CAMERA: SAMSUNG GALAXY S III</h3><img src="img/player1.jpg" width="728" height="441" class="player"><a href="#"><img src="img/banner_bottom.jpg" width="728" height="89" class="banner_bottom_ad"></a><a href="#" class="add_comment">Adicionar um comentario para o <em>Samsung Galaxy S3</em></a>
          </div>
        </div>
      </section>
      <div id="social_buttons" class="social_centrado"> 
        <ul>
          <li class="social_gplus"><strong>100</strong>
            <button>Plus</button>
          </li>
          <li class="social_like"><strong>22</strong>
            <button>Like</button>
          </li>
          <li class="social_tweet"><strong>355</strong>
            <button>Tweet</button>
          </li>
          <li class="social_share"><strong>43</strong>
            <button>Share</button>
          </li>
          <li class="social_orkut"><strong>56</strong>
            <button>Orkut		</button>
          </li>
        </ul>
      </div>
      <section class="onde_comprar clearfix">
        <div class="wide_column">
          <div class="hgroup">
            <h3>Onde Comprar</h3>
            <h4>As ofertas baratas para Samsung Galaxy S3 - <a>Todas las Ofertas</a></h4>
          </div>
          <div class="compras_items">
            <div class="item_compra"><a href="#" class="thum_compra"><img src="img/icones_r1_c1.jpg" width="90" height="90"></a><a href="#" class="desc">
                <Lorem>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</Lorem></a>
              <div class="shop_places"><a href="#" class="shop_logo"><img src="img/webfones.jpg" width="80" height="24">webfones</a>
                <div class="price"><a href="#"><strong>799 <small>R$</small></strong></a><a href="#" class="green_button">VEDI OFERTA</a></div>
              </div>
            </div>
            <div class="item_compra"><a href="#" class="thum_compra"><img src="img/icones_r3_c1.jpg" width="90" height="90"></a><a href="#" class="desc">
                <Lorem>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</Lorem></a>
              <div class="shop_places"><a href="#" class="shop_logo"><img src="img/shopfato.jpg" width="80" height="24">shopfato</a>
                <div class="price"><a href="#"><strong>799 <small>R$</small></strong></a><a href="#" class="green_button">VEDI OFERTA</a></div>
              </div>
            </div>
            <div class="item_compra"><a href="#" class="thum_compra"><img src="img/icones_r1_c1.jpg" width="90" height="90"></a><a href="#" class="desc">
                <Lorem>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</Lorem></a>
              <div class="shop_places"><a href="#" class="shop_logo"><img src="img/webfones.jpg" width="80" height="24">webfones</a>
                <div class="price"><a href="#"><strong>799 <small>R$</small></strong></a><a href="#" class="green_button">VEDI OFERTA</a></div>
              </div>
            </div>
          </div><a href="#" class="centered">Ver todas las ofertas</a>
        </div>
      </section>
    </div>
    <footer>
      <div class="container"><a id="logo" href="#"><img src="img/slicing_66.gif" alt="tudocelular"></a>
        <p>© 2013 - Pixel Research Ltd - Todos os direitos reservados</p>
        <div class="footer_nav"><a href="#">Fale conosco »</a><a href="#">Redação »</a><a href="#">Newsletter »</a><a href="#">Notícias no seu site »</a><a href="#">Anuncie »</a></div>
        <div class="social"><a href="#"><i class="sprites fb"></i></a><a href="#"><i class="sprites tw"></i></a><a href="#"><i class="sprites yt"></i></a><a href="#"><i class="sprites g"></i></a><a href="#"><i class="sprites rss"></i></a></div>
      </div>
    </footer>
  </body>
</html>
