scheda_tecnica.jade
- var enlaces_lista=[{link:'scheda_tecnica.html',texto:'Dados Tecnicos'},{link:'review.html',texto:'Review'},{link:'foto.html',texto:'Foto'},{link:'video.html',texto:'Video'},{link:'comentarios.html',texto:'Comentarios'},{link:'precos.html',texto:'Preco'},{link:'#',texto:'Compare'},{link:'#',texto:'Blog'},{link:'#',texto:'Papeis de Parede'}] 
!!!
html(lang="en")
	include head
	body
		.container#main_container
			.innerpadding
				header
					a(href='#')
						img(src='img/logo_principal.gif', alt='Tudo Celular')
					input#search(type='text')
			//- Incluida top_nav.jade 
			include top_nav
		
			.ads_top
				img(src='img/ad_wide.png', alt='', width='728', height='90')
				img(src='img/ad_face.png', alt='', width='258', height='90')
					
			section.innerpadding.clearfix
				aside.narrow_column
					img(src='img/white_phone.jpg', alt='', width='160', height='304')
					ul.lista_cursor
						for enlace in enlaces_lista
							if enlace.texto=='Dados Tecnicos'
								li: a.activo(href=enlace.link)=enlace.texto
							else
								li: a(href=enlace.link)=enlace.texto
					a(href="#")
						.barcode
							em Melhor Preco
							strong 2,500 R$
				.wide_column
					#etiqueta
						img(src="img/transparent.png" width="100%" height="100%" usemap="#m_etiqueta")
						.item_big_fichas
							span.prezzolow(id="prezzolow") 1,665
							small 10x290 R$
						map(name="m_etiqueta" id="m_etiqueta")
							area(shape="poly" coords="13,91,130,23,171,94,55,161,13,91" href="#" alt="")
					h2 <strong>Samsung</strong> Galaxy S3
					small Especificaciones Caracteristicas e Ficha Tecnica
					.iconos.clearfix
						.item
							i.ico_rede
							span Rede
							strong HSPA+
						.item
							i.ico_quad
							span Quad Core
							strong 1.4Ghz
						.item
							i.ico_mem
							span Memoria
							strong 16 GB+
						.item
							i.ico_mem
							span Gps
							strong Sim
						.item
							i.ico_android
							span Android
							strong 4.2.2
						.item
							i.ico_display
							span Display
							strong 4.8
						.item
							i.ico_foto
							span Foto
							strong HSPA+
						.item
							i.ico_video
							span Video
							strong Full HD
					p.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					p.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					#columns_phones
						#controles_titles
							.row_titles
								ul.phone_column_features
									li Sismtema Operacional
									li Tipo
									li Disponibilidade
									li Antena
									li Dimensiones
									li Peso
								h3
									strong REDE
								ul.phone_column_features
									li.double Gsm
									li Dual Sim
								h3
									strong DATA TRANSFER
								ul.phone_column_features
									li GPRS
									li EDGE
									li UMTS
									li HSPDA
									li HSPA+
									li LTE
									li HSPA+
									li Max Download Speed
									li Max Uload Speed
								h3
									strong DADOS TECNICOS
								ul.phone_column_features
									li Chipset
									li Proccesador
									li Memória
									li Memória Expansível
								h3
									strong CONECTIVIDADE
								ul.phone_column_features
									li Wi-Fi
									li Bluetooth
									li USB
									li NFC
									li GPS
								h3
									strong MENSAGEM
								ul.phone_column_features
									li SMS
									li MMS
									li Email
									li Push Mail
									li Auto Filling
									li Polegadas
									li Resolucao
									li Tipo
									li Touchscreen
						#phone_columns
							.phone_column
								ul.phone_column_features
									li iOS 6
									li Bar
									li 2013/2
									li Integrada
									li 167.6x88x8mm
									li 199 gramos
								ul.phone_column_features
									li.double Quad Band (850/900/1800/1900)
									li: i.wrong
									ul.phone_column_features
									li: i.ok
									li: i.ok
									li: i.wrong
									li: i.ok
									li: i.wrong
									li: i.ok
									li: i.ok
									li 100 Mbps
									li 50 Mbps
								ul.phone_column_features
									li -
									li 1.7 Ghz Dual Core
									li 16 GB
									li Micro SD At 64GB
									ul.phone_column_features
									li 802.11 a/g/n
									li 1.7 Ghz Dual Core
									li 16 GB
									li Micro SD At 64GB
									li A-GPS/GLONASS
								ul.phone_column_features
									li: i.ok
									li: i.ok
									li: i.ok
									li: i.ok
									li.good
										i.ok
										| 79
									li 6.3
									li.good 720X1280 pixel
									li TFT
									li.good
										i.ok
										| Capacitiva
					aside.smartphones
						.ad_side
							img(src='img/ad_square.png', alt='', width='301', height='252')
						.sp.floating_tiles_holder
							a.thumb_new_image(href='')
								img(src='img/slicing_36.png', alt='', width='51', height='102')
							h3
								a(href='compara_3tel.html') Samsung
							h4
								a(href='compara_3tel.html') Galaxy S2
							div
								.point
									strong 9.5
									| score
								small Melhor Preco
								p
									a(href='')
										strong 1.8479
										small R$
							.tiles_holder
								.tile.big_tile.arrow_left
								ul
									li: a.active(href='#') Ultimas
									li: a(href='#') Android
									li: a(href='') IOS
									li: a(href='') Windows Phone
						.sp
							a.thumb_new_image(href='')
								img(src='img/slicing_48.png', alt='', width='51', height='102')
							h3
								a(href='compara_8tel.html') ZTE
							h4.gray
								a(href='compara_8tel.html') Geek
							div
								.point
									strong 9.5
									| score
								small Melhor Preco
								p
									a(href='')
										strong 1.000
										small R$
						.sp
							a.thumb_new_image(href='')
								img(src='img/slicing_36.png', alt='', width='51', height='102')
							h3
								a(href='') Samsung
							h4
								a(href='') Galaxy S2
							div
								.point
									strong 9.5
									| score
								small Melhor Preco
								p
									a(href='')
										strong 1.8479
										small R$
						.sp
							a.thumb_new_image(href='')
								img(src='img/slicing_48.png', alt='', width='51', height='102')
							h3.gray
								a(href='') Huawei
							h4.gray
								a(href='') Ascend Y210D
							div
								.point
									strong 9.5
									| score
								small Melhor Preco
								p
									a(href='')
										strong 1.000
										small R$

			#social_buttons.social_centrado 
				ul
					li.social_gplus
						strong 100
						button Plus
					li.social_like
						strong 22
						button Like
					li.social_tweet
						strong 355
						button Tweet
					li.social_share
						strong 43
						button Share
					li.social_orkut
						strong 56
						button Orkut		
			//- Incluida seccion onde_comprar.jade						
			include onde_comprar

			section.innerpadding.clearfix
				.wide_column
					include block_comments
			include related_notices
		include footer

scheda_tecnica.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tudo Celular</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=1090">
    <!--
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700" rel="stylesheet" type="text/css">
    -->
    <style>
      @font-face {
       font-family: 'Roboto';
       font-style: normal;
       font-weight: 100;
       src: local('Roboto Thin'), local('Roboto-Thin'), url(http://themes.googleusercontent.com/static/fonts/roboto/v9/vzIUHo9z-oJ4WgkpPOtg1_esZW2xOQ-xsNqO47m55DA.woff) format('woff');
      }
      @font-face {
       font-family: 'Roboto';
       font-style: normal;
       font-weight: 300;
       src: local('Roboto Light'), local('Roboto-Light'), url(http://themes.googleusercontent.com/static/fonts/roboto/v9/Hgo13k-tfSpn0qi1SFdUfT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
      }
      @font-face {
       font-family: 'Roboto';
       font-style: normal;
       font-weight: 400;
       src: local('Roboto Regular'), local('Roboto-Regular'), url(http://themes.googleusercontent.com/static/fonts/roboto/v9/2UX7WLTfW3W8TclTUvlFyQ.woff) format('woff');
      }
      @font-face {
       font-family: 'Roboto';
       font-style: normal;
       font-weight: 500;
       src: local('Roboto Medium'), local('Roboto-Medium'), url(http://themes.googleusercontent.com/static/fonts/roboto/v9/RxZJdnzeo3R5zSexge8UUT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
      }
      @font-face {
       font-family: 'Roboto';
       font-style: normal;
       font-weight: 700;
       src: local('Roboto Bold'), local('Roboto-Bold'), url(http://themes.googleusercontent.com/static/fonts/roboto/v9/d-6IYplOFocCacKzxwXSOD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
      }
      
      @font-face {
       font-family: 'Roboto Condensed';
       font-style: normal;
       font-weight: 300;
       src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(http://themes.googleusercontent.com/static/fonts/robotocondensed/v8/b9QBgL0iMZfDSpmcXcE8nNeiznanRB67rGZDYkMvKPc.woff) format('woff');
      }
      @font-face {
       font-family: 'Roboto Condensed';
       font-style: normal;
       font-weight: 400;
       src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url(http://themes.googleusercontent.com/static/fonts/robotocondensed/v8/Zd2E9abXLFGSr9G3YK2MsFzqCfRpIA3W6ypxnPISCPA.woff) format('woff');
      }
      @font-face {
       font-family: 'Roboto Condensed';
       font-style: normal;
       font-weight: 700;
       src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url(http://themes.googleusercontent.com/static/fonts/robotocondensed/v8/b9QBgL0iMZfDSpmcXcE8nCSLrGe-fkSRw2DeVgOoWcQ.woff) format('woff');
      }
      
    </style>
    <link rel="stylesheet" href="css/style.css">
    <script src="scripts/scripts.js"> </script>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/tdrunk/html5.js"></script>
    <script></script>
    <window class="html5">|| document.write('<script src="scripts/ie8down/html5shiv.js"><\\/script>')</window>
    <![endif]-->
  </head>
  <body>
    <div id="main_container" class="container">
      <div class="innerpadding">
        <header><a href="#"><img src="img/logo_principal.gif" alt="Tudo Celular"></a>
          <input id="search" type="text">
        </header>
      </div>
      <div id="nav_menu">
        <nav id="topnav"><a id="home" href="index_videos.html"></a>
          <div id="seccionlogin"><a id="iclogin" href="index_logged.html"></a>
            <div id="loginform" class="submenu">
              <div class="content">
                <p>
                  <input type="text" placeholder="USERNAME">
                </p>
                <p>
                  <input type="text" placeholder="PASSWORD">
                </p>
                <p class="remember">
                  <label>
                    <input type="checkbox" name="">Remember me
                  </label>
                </p>
                <p>
                  <input id="loginbtn" type="button" value="Login" onclick="document.location='index_logged.html'">
                  <input id="register" type="button" value="Register">
                </p>
              </div>
            </div>
          </div>
          <ul>
            <li><a href="#">Forum</a></li>
            <li><a href="tudo_android.html">Tudo <strong class="color_android">Android</strong></a></li>
            <li><a href="tudo_windows.html">Tudo <strong class="color_windows">Windows</strong></a></li>
            <li><a href="tudo_apple.html">Tudo <strong class="color_apple">Apple</strong></a></li>
            <li><a href="#">Guias</a></li>
            <li><a href="celulares_home.html">Celulares</a>
              <div class="submenu">
                <div class="content">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, vero, labore, aut et eius ad in quos eveniet eligendi dolorem unde doloribus soluta accusamus! Repudiandae aliquid mollitia quos perferendis quod.
                   <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, accusamus, amet, natus voluptas quas dolores aspernatur vel quos ipsum possimus consequatur impedit laudantium asperiores eius in ab debitis optio autem.</div>
                </div>
              </div>
            </li>
            <li><a href="compara_2tel.html">Compare</a></li>
            <li><a href="review.html">Review</a></li>
          </ul>
        </nav>
        <nav>
          <ul id="bottomnav">
            <li><a href="topic.html">Topic</a></li>
            <li><a href="celulares_home.html">Celulares</a></li>
            <li><a href="compara_3tel.html">Provas</a></li>
            <li><a href="compara_8tel.html">Compare</a></li>
            <li><a href="">Temas</a></li>
            <li><a href="">Walpapers</a></li>
            <li><a href="">Precos</a></li>
            <li><a href="">Forum</a></li>
            <li><a href="#">Articole e guide</a></li>
            <li><a href="compare_8tel.html">Celulares</a></li>
            <li><a href="">Provas</a></li>
          </ul>
        </nav>
      </div>
      <div class="ads_top"><img src="img/ad_wide.png" alt="" width="728" height="90"><img src="img/ad_face.png" alt="" width="258" height="90"></div>
      <section class="innerpadding clearfix">
        <aside class="narrow_column"><img src="img/white_phone.jpg" alt="" width="160" height="304">
          <ul class="lista_cursor">
            <li><a href="scheda_tecnica.html" class="activo">Dados Tecnicos</a></li>
            <li><a href="review.html">Review</a></li>
            <li><a href="foto.html">Foto</a></li>
            <li><a href="video.html">Video</a></li>
            <li><a href="comentarios.html">Comentarios</a></li>
            <li><a href="precos.html">Preco</a></li>
            <li><a href="#">Compare</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Papeis de Parede</a></li>
          </ul><a href="#">
            <div class="barcode"><em>Melhor Preco</em><strong>2,500 R$</strong></div></a>
        </aside>
        <div class="wide_column">
          <div id="etiqueta"><img src="img/transparent.png" width="100%" height="100%" usemap="#m_etiqueta">
            <div class="item_big_fichas"><span id="prezzolow" class="prezzolow">1,665</span><small>10x290 R$</small></div><map name="m_etiqueta" id="m_etiqueta">
              <area shape="poly" coords="13,91,130,23,171,94,55,161,13,91" href="#" alt=""></map>
          </div>
          <h2><strong>Samsung</strong> Galaxy S3</h2><small>Especificaciones Caracteristicas e Ficha Tecnica</small>
          <div class="iconos clearfix">
            <div class="item"><i class="ico_rede"></i><span>Rede</span><strong>HSPA+</strong></div>
            <div class="item"><i class="ico_quad"></i><span>Quad Core</span><strong>1.4Ghz</strong></div>
            <div class="item"><i class="ico_mem"></i><span>Memoria</span><strong>16 GB+</strong></div>
            <div class="item"><i class="ico_mem"></i><span>Gps</span><strong>Sim</strong></div>
            <div class="item"><i class="ico_android"></i><span>Android</span><strong>4.2.2</strong></div>
            <div class="item"><i class="ico_display"></i><span>Display</span><strong>4.8</strong></div>
            <div class="item"><i class="ico_foto"></i><span>Foto</span><strong>HSPA+</strong></div>
            <div class="item"><i class="ico_video"></i><span>Video</span><strong>Full HD</strong></div>
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
             quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
             cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
             quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
             cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <div id="columns_phones">
            <div id="controles_titles">
              <div class="row_titles">
                <ul class="phone_column_features">
                  <li>Sismtema Operacional</li>
                  <li>Tipo</li>
                  <li>Disponibilidade</li>
                  <li>Antena</li>
                  <li>Dimensiones</li>
                  <li>Peso</li>
                </ul>
                <h3><strong>REDE</strong></h3>
                <ul class="phone_column_features">
                  <li class="double">Gsm</li>
                  <li>Dual Sim</li>
                </ul>
                <h3><strong>DATA TRANSFER</strong></h3>
                <ul class="phone_column_features">
                  <li>GPRS</li>
                  <li>EDGE</li>
                  <li>UMTS</li>
                  <li>HSPDA</li>
                  <li>HSPA+</li>
                  <li>LTE</li>
                  <li>HSPA+</li>
                  <li>Max Download Speed</li>
                  <li>Max Uload Speed</li>
                </ul>
                <h3><strong>DADOS TECNICOS</strong></h3>
                <ul class="phone_column_features">
                  <li>Chipset</li>
                  <li>Proccesador</li>
                  <li>Memória</li>
                  <li>Memória Expansível</li>
                </ul>
                <h3><strong>CONECTIVIDADE</strong></h3>
                <ul class="phone_column_features">
                  <li>Wi-Fi</li>
                  <li>Bluetooth</li>
                  <li>USB</li>
                  <li>NFC</li>
                  <li>GPS</li>
                </ul>
                <h3><strong>MENSAGEM</strong></h3>
                <ul class="phone_column_features">
                  <li>SMS</li>
                  <li>MMS</li>
                  <li>Email</li>
                  <li>Push Mail</li>
                  <li>Auto Filling</li>
                  <li>Polegadas</li>
                  <li>Resolucao</li>
                  <li>Tipo</li>
                  <li>Touchscreen</li>
                </ul>
              </div>
            </div>
            <div id="phone_columns">
              <div class="phone_column">
                <ul class="phone_column_features">
                  <li>iOS 6</li>
                  <li>Bar</li>
                  <li>2013/2</li>
                  <li>Integrada</li>
                  <li>167.6x88x8mm</li>
                  <li>199 gramos</li>
                </ul>
                <ul class="phone_column_features">
                  <li class="double">Quad Band (850/900/1800/1900)</li>
                  <li><i class="wrong"></i></li>
                  <ul class="phone_column_features"></ul>
                  <li><i class="ok"></i></li>
                  <li><i class="ok"></i></li>
                  <li><i class="wrong"></i></li>
                  <li><i class="ok"></i></li>
                  <li><i class="wrong"></i></li>
                  <li><i class="ok"></i></li>
                  <li><i class="ok"></i></li>
                  <li>100 Mbps</li>
                  <li>50 Mbps</li>
                </ul>
                <ul class="phone_column_features">
                  <li>-</li>
                  <li>1.7 Ghz Dual Core</li>
                  <li>16 GB</li>
                  <li>Micro SD At 64GB</li>
                  <ul class="phone_column_features"></ul>
                  <li>802.11 a/g/n</li>
                  <li>1.7 Ghz Dual Core</li>
                  <li>16 GB</li>
                  <li>Micro SD At 64GB</li>
                  <li>A-GPS/GLONASS</li>
                </ul>
                <ul class="phone_column_features">
                  <li><i class="ok"></i></li>
                  <li><i class="ok"></i></li>
                  <li><i class="ok"></i></li>
                  <li><i class="ok"></i></li>
                  <li class="good"><i class="ok"></i>79</li>
                  <li>6.3</li>
                  <li class="good">720X1280 pixel</li>
                  <li>TFT</li>
                  <li class="good"><i class="ok"></i>Capacitiva</li>
                </ul>
              </div>
            </div>
          </div>
          <aside class="smartphones">
            <div class="ad_side"><img src="img/ad_square.png" alt="" width="301" height="252"></div>
            <div class="sp floating_tiles_holder"><a href="" class="thumb_new_image"><img src="img/slicing_36.png" alt="" width="51" height="102"></a>
              <h3><a href="compara_3tel.html">Samsung</a></h3>
              <h4><a href="compara_3tel.html">Galaxy S2</a></h4>
              <div>
                <div class="point"><strong>9.5</strong>score</div><small>Melhor Preco</small>
                <p><a href=""><strong>1.8479</strong><small>R$</small></a></p>
              </div>
              <div class="tiles_holder">
                <div class="tile big_tile arrow_left"></div>
                <ul>
                  <li><a href="#" class="active">Ultimas</a></li>
                  <li><a href="#">Android</a></li>
                  <li><a href="">IOS</a></li>
                  <li><a href="">Windows Phone</a></li>
                </ul>
              </div>
            </div>
            <div class="sp"><a href="" class="thumb_new_image"><img src="img/slicing_48.png" alt="" width="51" height="102"></a>
              <h3><a href="compara_8tel.html">ZTE</a></h3>
              <h4 class="gray"><a href="compara_8tel.html">Geek</a></h4>
              <div>
                <div class="point"><strong>9.5</strong>score</div><small>Melhor Preco</small>
                <p><a href=""><strong>1.000</strong><small>R$</small></a></p>
              </div>
            </div>
            <div class="sp"><a href="" class="thumb_new_image"><img src="img/slicing_36.png" alt="" width="51" height="102"></a>
              <h3><a href="">Samsung</a></h3>
              <h4><a href="">Galaxy S2</a></h4>
              <div>
                <div class="point"><strong>9.5</strong>score</div><small>Melhor Preco</small>
                <p><a href=""><strong>1.8479</strong><small>R$</small></a></p>
              </div>
            </div>
            <div class="sp"><a href="" class="thumb_new_image"><img src="img/slicing_48.png" alt="" width="51" height="102"></a>
              <h3 class="gray"><a href="">Huawei</a></h3>
              <h4 class="gray"><a href="">Ascend Y210D</a></h4>
              <div>
                <div class="point"><strong>9.5</strong>score</div><small>Melhor Preco</small>
                <p><a href=""><strong>1.000</strong><small>R$</small></a></p>
              </div>
            </div>
          </aside>
        </div>
      </section>
      <div id="social_buttons" class="social_centrado"> 
        <ul>
          <li class="social_gplus"><strong>100</strong>
            <button>Plus</button>
          </li>
          <li class="social_like"><strong>22</strong>
            <button>Like</button>
          </li>
          <li class="social_tweet"><strong>355</strong>
            <button>Tweet</button>
          </li>
          <li class="social_share"><strong>43</strong>
            <button>Share</button>
          </li>
          <li class="social_orkut"><strong>56</strong>
            <button>Orkut		</button>
          </li>
        </ul>
      </div>
      <section class="onde_comprar clearfix">
        <div class="wide_column">
          <div class="hgroup">
            <h3>Onde Comprar</h3>
            <h4>As ofertas baratas para Samsung Galaxy S3 - <a>Todas las Ofertas</a></h4>
          </div>
          <div class="compras_items">
            <div class="item_compra"><a href="#" class="thum_compra"><img src="img/icones_r1_c1.jpg" width="90" height="90"></a><a href="#" class="desc">
                <Lorem>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</Lorem></a>
              <div class="shop_places"><a href="#" class="shop_logo"><img src="img/webfones.jpg" width="80" height="24">webfones</a>
                <div class="price"><a href="#"><strong>799 <small>R$</small></strong></a><a href="#" class="green_button">VEDI OFERTA</a></div>
              </div>
            </div>
            <div class="item_compra"><a href="#" class="thum_compra"><img src="img/icones_r3_c1.jpg" width="90" height="90"></a><a href="#" class="desc">
                <Lorem>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</Lorem></a>
              <div class="shop_places"><a href="#" class="shop_logo"><img src="img/shopfato.jpg" width="80" height="24">shopfato</a>
                <div class="price"><a href="#"><strong>799 <small>R$</small></strong></a><a href="#" class="green_button">VEDI OFERTA</a></div>
              </div>
            </div>
            <div class="item_compra"><a href="#" class="thum_compra"><img src="img/icones_r1_c1.jpg" width="90" height="90"></a><a href="#" class="desc">
                <Lorem>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</Lorem></a>
              <div class="shop_places"><a href="#" class="shop_logo"><img src="img/webfones.jpg" width="80" height="24">webfones</a>
                <div class="price"><a href="#"><strong>799 <small>R$</small></strong></a><a href="#" class="green_button">VEDI OFERTA</a></div>
              </div>
            </div>
          </div><a href="#" class="centered">Ver todas las ofertas</a>
        </div>
      </section>
      <section class="innerpadding clearfix">
        <div class="wide_column">
          <section id="comments">
            <div class="hgroup">
              <h3>4 Comentarios</h3>
              <h4>Sansumg Galaxy S3 - <a href="#">Deixe um Comentario</a></h4>
            </div>
            <div class="fr">pagina 1 de 59 - <a href="#">Ultima Pagina</a></div>
            <div class="single_comment"><img src="img/divisiones_r3_c2.png" class="avatar">
              <h4>Livia_schidt</h4><small>21 de Marzo @ 33:09 #1</small>
              <p class="bubble">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, suscipit, maxime consequuntur repellat pariatur reiciendis neque temporibus laudantium amet magnam maiores consectetur quos molestias. Amet praesentium officia ut voluptatum perspiciatis.
                 <br><br>
                 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, suscipit, maxime consequuntur repellat pariatur reiciendis neque temporibus laudantium amet magnam maiores consectetur quos molestias. Amet pr
              </p>
            </div>
            <div class="single_comment"><img src="img/divisiones_r5_c2.png" class="avatar">
              <h4>Livia_schidt</h4><small>21 de Marzo @ 33:09 #1</small>
              <p class="bubble">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, suscipit, maxime consequuntur repellat pariatur reiciendis neque temporibus laudantium amet magnam maiores consectetur quos molestias. Amet praesentium officia ut voluptatum perspiciatis.
                
              </p>
            </div>
            <div class="single_comment"><img src="img/divisiones_r7_c2.png" class="avatar">
              <h4>Livia_schidt</h4><small>21 de Marzo @ 33:09 #1</small>
              <p class="bubble">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, suscipit
                
              </p>
            </div>
            <div class="single_comment"><img src="img/divisiones_r9_c4.png" class="avatar">
              <h4>Livia_schidt</h4><small>21 de Marzo @ 33:09 #1</small>
              <p class="bubble">
                sLorem ipsum dolor sit amet<br/> consectetur adipisicing elit. Voluptatibus, suscipit
                
              </p>
            </div>
            <div class="single_comment new"><img src="img/divisiones_r9_c4.png" class="avatar">
              <form>
                <p class="bubble">
                  <textarea>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, suscipit, maxime consequuntur repellat pariatur reiciendis neque temporibus laudantium amet magnam maiores consectetur quos molestias. Amet praesentium officia ut voluptatum perspiciatis.</textarea>
                  <input type="submit" class="submit">
                </p>
              </form>
            </div>
          </section>
        </div>
      </section>
      <section id="last_topics" class="clearfix">
        <h2>Notícias relacionadas</h2>
        <ul>
          <li class="topic"><a href=""><img src="img/divisiones_r11_c3.png" alt=""></a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem</p>
            <p class="icos"><a href="" class="android"></a><a href="" class="windows"></a><a href="" class="gray_comments">80</a></p>
          </li>
          <li class="topic"><a href=""><img src="img/divisiones_r11_c12.png" alt=""></a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, suscipit ame</p>
            <p class="icos"><a href="" class="android"></a><a href="" class="gray_comments">80</a></p>
          </li>
          <li class="topic"><a href=""><img src="img/divisiones_r11_c19.png" alt=""></a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem</p>
            <p class="icos"><a href="" class="android"></a><a href="" class="apple"></a><a href="" class="gray_comments">80</a></p>
          </li>
          <li class="topic"><a href=""><img src="img/divisiones_r11_c25.png" alt=""></a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem</p>
            <p class="icos"><a href="" class="android"></a><a href="" class="windows"></a><a href="" class="apple"></a><a href="" class="gray_comments">80</a></p>
          </li>
          <li class="topic"><a href=""><img src="img/divisiones_r11_c30.png" alt=""></a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem</p>
            <p class="icos"><a href="" class="apple"></a><a href="" class="android"></a><a href="" class="windows"></a><a href="" class="gray_comments">80</a></p>
          </li>
        </ul>
      </section>
    </div>
    <footer>
      <div class="container"><a id="logo" href="#"><img src="img/slicing_66.gif" alt="tudocelular"></a>
        <p>© 2013 - Pixel Research Ltd - Todos os direitos reservados</p>
        <div class="footer_nav"><a href="#">Fale conosco »</a><a href="#">Redação »</a><a href="#">Newsletter »</a><a href="#">Notícias no seu site »</a><a href="#">Anuncie »</a></div>
        <div class="social"><a href="#"><i class="sprites fb"></i></a><a href="#"><i class="sprites tw"></i></a><a href="#"><i class="sprites yt"></i></a><a href="#"><i class="sprites g"></i></a><a href="#"><i class="sprites rss"></i></a></div>
      </div>
    </footer>
  </body>
</html>
